<div class="row">

	<div class="col-12">

		<p class="text-justify">
			<b>Stimati clienti,
				Pentru a evita consumul unui preparat ce poate cauza reactii alergice, inainte de a comanda va rugam sa
				consultati “Ghidul obligatoriu al produselor alergene” ce se pot regasi in produsele finite</b>
			Conform Directivei 2000/13/CE A PARLAMENTULUI EUROPEAN ŞI A CONSILIULUI din 20 martie 2000, alergenii din
			alimente se pot încadra în următoarele grupe:

		</p>
	</div>

	<div class="col-12">
		<div class="row m-0">

			<div class="col-12 allergens-desc">
				<ol class="w-100 b-box">
					<li>
						Cereale care conţin gluten si anume : grâu, secară, orz, ovăz, grâu spelţ, grâu mare sau
						hibrizi ai acestora şi produse derivate exceptand:
					</li>
					<li>
						Crustacee şi produse derivate
					</li>
					<li>
						Ouă şi produse derivate
					</li>
					<li>
						Peşte şi produse derivate exceptand:

						<ol class="w-100 b-box" type="a">
							<li>
								Gelatina de peste folosita ca substanta suport pentru preparatele de vitamine sau
								carotenoide
							</li>
						</ol>
					</li>
					<li>
						Arahide şi produse derivate
					</li>
					<li>
						Soia şi produse derivate exceptand:

						<ol class="w-100 b-box" type="a">
							<li>
								uleiul si grasimea de soia rafinate complet
							</li>
							<li>
								amestecuri naturale de tocoferol (E306), tocoferolul D-alfa natural, acetatul de
								tocoferol D-alfa natural succinatul, de tocoferol D-alfa, natura, obtinut din soia
							</li>
							<li>
								fitosterolii si esterii de fitosterol derivati din uleiuri vegetale obtinuti din soia
							</li>
							<li>
								esterul de stanol vegetal fabricat din steroli de ulei vegetal, obtinuti din soia
							</li>
						</ol>
					</li>
					<li>
						Lapte şi produse derivate (inclusiv lactoză) exceptand:

						<ol class="w-100 b-box" type="a">
							<li>
								Zerul utilizat pentru fabricarea distilatilor sau a alcoolului etilic de origine
								agricola
							</li>
							<li>
								lactitolul
							</li>
						</ol>
					</li>

					<li>
						Fructe cu coajă lemnoasa adică:

						<ol class="w-100 b-box" type="a">
							<li>
								Migdale
							</li>
							<li>
								alune de padure
							</li>
							<li>
								nuci
							</li>
							<li>
								caju
							</li>
							<li>
								nuci pecan
							</li>
							<li>
								nuci de brazilia
							</li>
							<li>
								fistic
							</li>
							<li>
								nuci de macadamia
							</li>
							<li>
								nuci de Qeensland si produse derivate exceptand:
								fructele cu coaja utilizate pentru fabricarea distilatelor sau a al alcolului etilic de
								origine agricola
							</li>
						</ol>
					</li>
					<li>
						Ţelină şi produse derivate
					</li>
					<li>
						Muştar şi produse derivate
					</li>
					<li>
						Seminţe de susan şi produse derivate
					</li>
					<li>
						Dioxid de sulf şi sulfiţi în concentraţii de peste 10 mg/kg sau 10 mg/litru, SO2 total trebuie
						calculati in conformitate cu intructiunile producatorilor
					</li>
					<li>
						Lupin şi produse derivate
					</li>
					<li>
						Moluşte şi produse derivate
					</li>

				</ol>
			</div>
		</div>
	</div>

	<div class="col-12">

		<p class="text-justify">
			<b>
				În cazul în care suferiţi de o alergie, vă rugăm să solicitaţi informaţii suplimentare înainte de
				efectuarea comenzii. Vă mulţumim pentru înţelegere!
			</b>
		</p>
	</div>

	<div class="col-12">
		<div class="row">
			<div class="offset-1 col-1">
				<icon-frozen></icon-frozen>
			</div>
			<div class="col-10">
				Preparate care deriva din produse congelate
			</div>
		</div>
	</div>

	<div class="col-12 pt-2">

		<div class="row">

			<div class="offset-1 col-1">
				<icon-allergens></icon-allergens>
			</div>
			<div class="col-10">
				Preparate care contin alergeni
			</div>
		</div>
	</div>
</div>
