<div class="row no-gutters container m-auto page-min-height p-3">
    <div class="container-fluid pt-5 justify-content-center">
        <div class="col-12">
            <h3>
                Privacy Policy
            </h3>
        </div>

        <div class="col-11 m-auto">

            <p>
                <b>We are not collecting personal data but we do use third party applications that may do.</b>
                Please
                verify their privacy policies to find out more: <b>Google Analytics, Google Adsense, Gmail,
                    Facebook,
                    Youtube</b>. We might add or remove thrid party applications to the website at any time without
                notice.
                Please check the source code of the site or use browser plugins to identify them.
            </p>

            <ul>
                <li>
                    Google Analytics: <a href="https://marketingplatform.google.com/about/analytics/terms/us/">Terms</a>
                </li>
                <li>
                    Google Adsense: <a href="https://policies.google.com/technologies/ads">Advertising Terms</a>
                </li>
                <li>
                    Gmail: <a href="https://policies.google.com/privacy?hl=en-US">Privacy & Terms</a>
                </li>
                <li>
                    Facebook: <a href="https://www.facebook.com/policy.php">Privacy Policy</a>
                </li>
                <li>
                    Youtube: <a href="https://www.youtube.com/about/policies/#community-guidelines">Community
                        Policy</a>
                </li>
            </ul>

            <p>
                Our Privacy Policy was posted on 2 December 2019 and last updated on 4 December 2019. It governs the
                privacy terms of our Website, located at www.gamescrypt.com. Any capitalized terms not defined in
                our
                Privacy Policy, have the meaning as specified in our Terms of Use accessible above.
            </p>

            <p>

            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                What does the website do?
            </h4>
        </div>

        <div class="col-10 m-auto">
            <p>
                It is a Free Online Games Website, has a unique way of showcasing it's games, Alternative Writing through Write Tool,
                Unity Utils Classes and Workflow, Online Competitions and Ladders.
                GameScrypt is designed for exhibiting <b>Games</b> done by gameScrypt Developers, online competitions, Unity Utils Classes and Oppinions featured in Blog.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                Definitions
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                "Personally Identifiable Information" is non-public information that is personally identifiable to
                you and obtained in order for us to provide you within our Website. Personally Identifiable
                Information may include information such as your name, email address, and other related information
                that you provide to us or that we obtain about you.
            </p>

            <p>
                "Non Personal Information" is information that is not personally identifiable to you and that we
                automatically collect when you access our Website with a web browser. It may also include publicly
                available information that is shared between you and others.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                Your Privacy
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                Our Service follows all legal requirements to protect your privacy. Our Privacy Policy is a legal
                statement
                that explains how we may collect information from you, how we may share your information, and how
                you can
                limit our sharing of your information.
            </p>

            <p>
                Generally, you control the amount and type of information you provide to us when using our Website.
                You are not required to provide us with any Personally Identifiable Information as a Visitor.
            </p>
            <p>
                When you use our Website, we automatically collect certain computer information by the interaction
                of
                your mobile phone or web browser with our Website. Such information is typically considered Non
                Personal
                Information.
            </p>
        </div>
    </div>
</div>
