<div class="dialog-background">
    <div class="dialog-background-shadow">
        <div class="col-12  black-dialog-title">
            <h2 mat-dialog-title class="col-12 text-center p0">
                {{page.title}}
            </h2>
        </div>

        <mat-dialog-content layout-align="center center" class="mat-dialog-content">

            <div class="ml-2 mr-2">

            </div>
        </mat-dialog-content>
        <hr />
        <mat-dialog-actions class="dialog-buttons-container">
            <div class="w-100 text-center">
                <div class="mt-2 mb-2">
                    <!-- <button *ngIf="!dialogText.onlyConfirmButton" class="mat-raised-button dialog-cancel-button"
                        color="accent" (click)="cancel()">
                        {{dialogText.cancel}}
                    </button>
                    <button class="ml-4 mat-raised-button mat-primary dialog-confirm-button" color="primary"
                        (click)="confirm()">
                        {{dialogText?.confirm}}
                    </button> -->
                </div>
            </div>
        </mat-dialog-actions>
    </div>
</div>
