<div [ngClass]="scrollClass" class="row no-gutters header header-container">
    <div class="col-2 col-sm-1 pl-3" (click)="goHome()">
        <img class="logo" src="assets/images/logo.png">
    </div>
    <div class="col-6 col-sm-7 d-flex">
        <button mat-button class="nav-button float-right" (click)="goHome()">
            <cool-text pre="N" word="EWS"></cool-text>
        </button>
        <button mat-button class="nav-button float-right" (click)="goTo('games')">
            <cool-text pre="G" word="AMES"></cool-text>
        </button>
        <button mat-button class="nav-button float-right" (click)="goTo('unity-workflow')">
            <cool-text pre="U" word="NITY " suffix="WORKFLOW"></cool-text>
        </button>
        <button mat-button class="nav-button float-right" (click)="goTo('ladders')">
            <cool-text pre="E" word="SPORTS" ></cool-text>
        </button>
        <button mat-button class="nav-button float-right" (click)="goTo('blog')">
            <cool-text pre="B" word="LOG" ></cool-text>
        </button>
        <button mat-button class="nav-button float-right" (click)="goToWriteTool()">
            <cool-text pre="W" word="RITE " suffix="TOOL"></cool-text>
        </button>
    </div>
    <div class="col-6 col-sm-4 d-flex justify-content-center">
        <div class="col-8 account-buttons" [ngClass]="scrollClass">
            <button mat-button class="ac-but" (click)="openPage('showContact')">
                <icon-contact-us></icon-contact-us>
                <span class="sm-f">Contact</span>
            </button>
            <button mat-button class="ac-but" (click)="openPage('showPrivacy')">
                <icon-policy></icon-policy>
                <span class="sm-f">Policy</span>
            </button>
            <button mat-button class="ac-but" (click)="openPage('showAbout')">
                <icon-about-us></icon-about-us>
                <span class="sm-f">About Us</span>
            </button>
        </div>

        <div class="col-4" style="transition: all 1s;"
            [style.maxWidth]="loggedIn ? '200px' : 'auto'">

            <button mat-button class="facebook-button" [ngClass]="{'p-0': loggedIn}" (click)="login()">

                <div *ngIf="loggedIn && user" class="face-logged-in-info" [ngClass]="scrollClass">

                    <div>
                        <!--    facebook.picture.data.url    -->
                        <img [src]="user.photoUrl" />
                    </div>
                    <div *ngIf="bp !== 'xs'">
                        {{user.email}}
                    </div>
                </div>

                <div *ngIf="loggedIn === false">
                    <cool-text pre="L" word="ogin"></cool-text>
                    <!-- <span>Login</span> -->
                    <icon-facebook></icon-facebook>
                </div>
            </button>
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-12 main-menu">
        <app-navigation></app-navigation>
    </div>
</div>
