@import './scss/variables';

.mat-card {
    background-color: rgba(0, 0, 0, 0.5);
    color: $dark-grey;
}

.mat-paginator {
    background: transparent;
    color: $dark-grey;

    .mat-paginator-container {
        color: $Smoke;
    }

    .mat-paginator-icon {
        color: $Smoke;
    }
}

.mat-expansion-panel {
    background-color: $dark-transparent;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    color: $Smoke;
}

.mat-select-value {
    color: $Smoke;
}

.mat-select-arrow {
    color: $Smoke;
}

.mat-expansion-indicator::after {
    color: $Smoke;
}

.mat-form-field-label {
    color: $Smoke !important;
}

.mat-input-element {
    color: white !important;
}

.mat-tree {
    background-color: $dark-transparent;
    padding-bottom: 15px;

    .mat-tree-node {
        color: $Smoke;
    }

    .mat-tree-node.node-sm-size {
        min-height: 25px !important;
        > .mat-icon-button {
            height: 25px;
            line-height: 20px;
        }
    }
}

.cdk-overlay-backdrop {
    background-color: rgb(26 33 28 / 79%) !important;
}

.mat-expansion-panel-content,
.mat-expansion-panel-header-title {
    font-family: graphikRegular !important;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
    background-color: $orange;
}

.mat-primary {
    .mat-button-focus-overlay,
    .mat-button-ripple.mat-ripple {
        border-bottom: 2px solid $orange;
    }
}

.mat-primary[disabled] {
    .mat-button-focus-overlay,
    .mat-button-ripple.mat-ripple {
        border-bottom: 2px solid $dark-grey;
    }
}

.mat-raised-button.mat-primary[disabled],
mat-raised-button[disabled][disabled] {
    color: $dark-grey;
    font-weight: 600;
    font-size: 11px;
    background-color: $grey;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: transparent;
}

.mat-form-field-appearance-legacy {
    .mat-form-field-label {
        color: transparent;
    }

    .mat-form-field-empty {
        color: rgba(0, 0, 0, 0.54);
    }

    .mat-form-field-underline {
        background-color: transparent;
    }
}

.input-empty.mat-form-field-appearance-legacy {
    .mat-form-field-underline {
        background-color: rgba(0, 0, 0, 0.42);
    }
}


.navigation-bar {
    .mindit-menu .multi-op.mat-icon-button.active {
        top: 1.5px !important;
    }

    .menu-item {
        .mat-button {
            padding: 0px 30px;
            font-size: 13px !important;
            min-width: 60px !important;
        }

        .mat-icon-button {
            width: 25px;
        }
    }
}

.navigation-bar-tabs {
    .mindit-submenu button.multi-op.mat-icon-button.active {
        top: 1.5px !important;
    }

    .menu-item {
        .mat-button,
        .mat-button.active {
            top: 1.5px !important;
            padding: 0px 10px !important;
            font-size: 13px !important;
            min-width: 60px !important;
        }

        .mat-icon-button {
            width: 25px;
        }
    }
}

.mat-checkbox-checked .mat-checkbox-background {
    background-color: $orange !important;
}

.facebook-button {

    .mat-button-wrapper {
        color: white !important;
    }
}

.mat-tab-label-content {
    color: white !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $orange;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #c7bbb357;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $orange;
}

.mat-expansion-panel-body {
    color: #ccc;
}
