<span *ngIf="hasPre" class="pre">
    {{pre}}
</span>
<span *ngIf="hasWord" class="word">
    {{word}}
</span>
<span *ngIf="hasSuffix" class="suffix">
    {{suffix}}
</span>

<span *ngIf="isGamescrypt === true" [ngClass]="{ 's-h3': size === 'h3' }">
    <span *ngIf="hasFull" class="word" style="margin-right: -5px;">
        {{fullPre}}
    </span>
    <span *ngIf="hasFull" class="pre" style="margin-right: -5px;">
        {{fullWord}}
    </span>
    <span *ngIf="hasFull" class="word">
        {{fullSuffix}}
    </span>
</span>

<span *ngIf="isGamescrypt === false">
    <span *ngIf="hasFull" class="word">
        {{fullPre}}
    </span>
    <span *ngIf="hasFull" class="pre">
        {{fullWord}}
    </span>
    <span *ngIf="hasFull" class="suffix">
        {{fullSuffix}}
    </span>
</span>
