<back-hyperlink [url]="backUrl"></back-hyperlink>
<div class="row no-gutters page-min-height p-3" [ngClass]="{ 'm-auto container': bp === 'lg' || bp === 'xl' }">

    <span class="bp">
        {{bp}}
    </span>

    <div class="col-12">

        <mat-card class="row">

            <div class="col-12">
                <h2>
                    <span [innerHtml]="article.title"></span>
                </h2>
            </div>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-6">
                        {{article.shortDescription}}
                    </div>
                    <div class="col-6 px-0" style="margin-top: -15px;">
                        <div class="col-12 px-0 mb-3 article-pic img-shadow">
                            <img *ngIf="article.mainPic" [src]="article.mainPic" />
                            <img *ngIf="!article.mainPic" src="assets/images/no-pic.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>

    </div>
</div>
