<div *ngIf="inDialog" class="row container m-auto p-3">
    <a class="hyperlink" href="#" routerLink="/privacy-policy" (click)="matDialogRef.close()">
        <cool-text pre="S" word="ee" suffix=" Page"></cool-text>
    </a>
</div>

<app-language [lang]="lang" (languageChanged)="onLanguageChosen($event)"></app-language>

<app-terms [languageLogic]="false" [lang]="lang"></app-terms>

<app-privacy [languageLogic]="false" [lang]="lang"></app-privacy>

<app-gdpr [languageLogic]="false" [lang]="lang"></app-gdpr>

<div class="row no-gutters container m-auto p-3">
    <div class="container-fluid pt-5 justify-content-center privacy-text"
        [innerHTML]="PRIVACY_POLICY_LEGAL.LEGAL_DOCUMENTS_ADVERTISING">
    </div>
</div>

<!--    revised: 22/10/2020     -->
