<div class="row no-gutters container m-auto page-min-height p-3">
    <div class="col-12 pt-5 justify-content-center">

        <div class="row">
            <div class="col-4">

                <div class="row">

                    <div class="col-12">
                        <h1 style="font-family: 'Poppins',sans-serif;">
                            SIMIONESCU
                        </h1>
                    </div>
                    <div class="col-12">
                        <h1 style="font-family: 'Poppins',sans-serif;">
                            DANIEL MIHAITA
                        </h1>
                    </div>

                    <div class="col-12 mt-4 mb-4 text-uppercase">
                        Software Developer
                    </div>
                </div>

            </div>
            <div class="col-8">

                <div class="row">

                    <div class="col float-right" style="height: 180px;">
                        <img class="owner-pp h-100 float-right" src="assets/images/pp.png" />
                    </div>
                </div>
            </div>

            <div class="col-12 h-divider"></div>
        </div>


        <div class="row revealer" [ngClass]="{ 'show': reveal === true }">

            <div class="col-12 mt-5 timeline-container">

                <div class="row m-0">

                    <div class="col col-l">
                        <div class="row">

                            <div class="col-12" id="cl-0">
                                <h3 class="w-100 text-center">
                                    PROFILE
                                </h3>

                                <p class="text-book mt-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Integer ac lobortis nisi, ut placerat neque. Morbi feugiat eu justo quis viverra.
                                    Duis at
                                    enim
                                    nisi. Fusce id porta nibh, eu pharetra dui. Donec malesuada enim in nisi semper, ac
                                    vestibulum
                                    neque aliquam. Integer molestie aliquet dolor, a maximus turpis. Lorem ipsum dolor
                                    sit amet,
                                    consectetur adipiscing elit. Suspendisse enim nulla, consequat nec tempus ut,
                                    ullamcorper et
                                    enim.
                                </p>
                            </div>

                            <div class="col-12" id="cl-1">

                            </div>
                        </div>
                    </div>

                    <div class="col col-c">
                        <div class="row m-0">

                            <div class="col-12 p-0" id="cc-0" [ngStyle]="cv[0]?.style">
                                <div class="divider-v-start"></div>
                            </div>

                            <div class="col-12 p-0" id="cc-1">
                                <div class="divider-v" style="height: 10px;"></div>
                                <div class="time-period">
                                    <span>Nov 2014</span>
                                    <span class="dot f5"></span>
                                </div>
                                <div class="divider-v"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-r">
                        <div class="row">

                            <div class="col-12" id="cr-0">
                                <h3 class="w-100 text-center">
                                    WORK EXPERIENCE
                                </h3>

                                <p class="text-book mt-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Integer ac lobortis nisi, ut placerat neque. Morbi feugiat eu justo quis viverra.
                                    Duis at
                                    enim nisi.
                                </p>
                            </div>

                            <mat-card class="col-12" style="padding-top: 0; border-top-left-radius: 13px;" id="cr-1">

                                <div class="col-12 p-0">
                                    <div class="bar-left-connect f5"
                                        [style.height.px]="100"
                                    ></div>
                                    <div class="bar-top-round f5"></div>
                                </div>

                                <div class="col-12 p-0">

                                    <div class="title-bar f5"></div>
                                    <div class="f5-title">
                                        F5 IT Solutions
                                    </div>
                                    <p class="text-book mt-4">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Integer ac lobortis nisi, ut placerat neque. Morbi feugiat eu justo quis
                                        viverra. Duis at enim nisi.
                                    </p>
                                </div>
                            </mat-card>

                            <mat-card class="col-12"
                                style="padding-top: 0; border-top-left-radius: 13px; margin-top: 15px;" id="cr-1">

                                <div class="col-12 p-0">
                                    <div class="bar-left-connect f5"
                                        [style.height.px]="30"></div>
                                    <div class="bar-top-round f5"></div>
                                </div>

                                <div class="col-12 p-0">

                                    <div class="title-bar f5"></div>
                                    <div class="pt-2">
                                        Smart Deviation
                                    </div>
                                    <p>
                                        Nov 2014 – Jan 2015
                                    </p>
                                    <p class="text-book mt-4">
                                        Smart Deviation is a Web application that keeps track of deviations for
                                        companies. I smoothed out the mobile interface of the application.
                                    </p>
                                    <p>
                                        Technologies: C#, AngularJS, Microsoft SQL Server, JavaScript, Bootstrap.
                                    </p>
                                </div>
                            </mat-card>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
