<div class="row no-gutters container m-auto page-min-height p-3">
    <div class="col-12 pt-5 justify-content-center">

        <div class="row">
            <div class="col-4">

                <div class="row">

                    <div class="col-12">
                        <h1 style="font-family: 'Poppins',sans-serif;">
                            SIMIONESCU
                        </h1>
                    </div>
                    <div class="col-12">
                        <h1 style="font-family: 'Poppins',sans-serif;">
                            DANIEL MIHAITA
                        </h1>
                    </div>

                    <div class="col-12 mt-4 mb-4 text-uppercase">
                        Software Developer
                    </div>
                </div>

            </div>
            <div class="col-8">

                <div class="row">

                    <div class="col float-right" style="height: 180px;">
                        <img style="filter: grayscale(100%)" class="owner-pp h-100 float-right"
                            src="assets/images/pp.png" />
                    </div>
                </div>
            </div>

            <div class="col-12 h-divider"></div>
        </div>

        <div class="row revealer" [ngClass]="{ 'show': reveal === true }">

            <div class="col-12 mt-5 timeline-container">

                <div class="row m-0">
                    <div class="col col-l">
                        <h3 class="w-100 text-center">
                            PROFILE
                        </h3>

                        <p class="text-book mt-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer ac lobortis nisi, ut placerat neque. Morbi feugiat eu justo quis viverra. Duis at
                            enim
                            nisi. Fusce id porta nibh, eu pharetra dui. Donec malesuada enim in nisi semper, ac
                            vestibulum
                            neque aliquam. Integer molestie aliquet dolor, a maximus turpis. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Suspendisse enim nulla, consequat nec tempus ut, ullamcorper et
                            enim.
                        </p>
                    </div>
                    <div class="col col-c">
                        <div class="divider-v-start"></div>
                    </div>
                    <div class="col col-r">
                        <h3 class="w-100 text-center">
                            WORK EXPERIENCE
                        </h3>

                        <p class="text-book mt-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer ac lobortis nisi, ut placerat neque. Morbi feugiat eu justo quis viverra. Duis at
                            enim nisi.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 timeline-container">

                <div class="row">

                    <div class="col col-l">

                    </div>
                    <div class="col col-c">

                        <div class="divider-v"></div>
                        <div class="time-period">
                            Aug 2018
                        </div>
                        <div class="divider-v"></div>
                    </div>
                    <div class="col col-r">
                        <div class="row">

                            <div class="col-12">

                                TEST
                            </div>

                            <div class="col-12">

                                <p class="text-book mt-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Integer ac lobortis nisi, ut placerat neque. Morbi feugiat eu justo quis viverra. Duis at
                                    enim nisi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-10 m-auto">
            <h5>{{ ABOUT_POLICY.TITLE }}</h5>
        </div>

        <br />

        <div class="col-10 m-auto" [innerHTML]="ABOUT_POLICY.WHAT_WEBSITE_DOES">
        </div> -->
    </div>
</div>
