@import '../../../theme/overrides/scss/variables';

$f5-color: rgba(4, 154, 205, 1);

.h-divider {
    height: 2px;
    background: rgb(204,199,208);
    background: linear-gradient(90deg, rgba(204,199,208,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 75%, rgba(114,76,142,0) 100%);
}

.h-divider.dim {
    background: linear-gradient(
    90deg
    , rgba(204, 199, 208, 0) 0%, #ffffff42 25%, #ffffff42 50%, #ffffff42 75%, rgba(114, 76, 142, 0) 100%) !important;
}

.revealer {
    transition: opacity 1s;
    opacity: 0;
}
.revealer.show {
    opacity: 1 !important;
}

.timeline-container {

    padding-top: 0px;

    .col-l,
    .col-c ,
    .col-r {
        display: inline-block;
        float: left;
        min-height: 40px;
    }

    .col-l {
        width: calc(50% - 40px);
        max-width: calc(50% - 40px);
        flex: 0 0 calc(50% - 40px);

        .secondary-skill {
            font-size: 13px;
            color: #ffffffa3;
            margin-top: .10rem!important;

            ::ng-deep {
                .rating-star {
                    svg {
                        width: 13px;
                    }

                    &.checked {
                        svg {
                            color: #ffffffa3;
                        }
                    }
                }
            }
        }
    }

    .col-c {
        width: 80px;
        max-width: 80px;
        flex: 0 0 80px;
        padding: 0;
        height: auto;

        .time-period {
            position: relative;
            // min-height: 10px;
            width: 100%;
            float: left;
            text-align: center;
            font-size: 13px;
            line-height: 40px;

            .dot {
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background: white;
                position: relative;
                float: right;
                right: -5px;
                z-index: 2;
                margin-top: 14px;
            }

            .dot.f5 {
                background: $f5-color;
            }

            .low-connector-line,
            .low-connector-curve {
                width: 18px;
                background: transparent;
                position: absolute;
                float: right;
                z-index: 2;
            }

            .low-connector-line {
                height: 79px;

                right: 0px;
                top: 40px;
                border-left: 2px solid $f5-color;
            }
            .low-connector-curve {

                width: 19px;
                height: 10px;
                right: -1px;
                top: 110px;
                border-right: 2px solid #049acd;
                border-left: 2px solid #049acd;
                border-bottom: 2px solid #049acd;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        .divider-v {
            position: relative;
            min-height: 3px;
            width: 2px;
            float: right;
            right: 38px;
            //
            background: white;
        }

        .divider-v-start {
            width: 2px;
            min-height: 10px;
            position: relative;
            float: left;
            left: 40px;
            top: 0;
            //
            background: rgb(204,199,208);
            background: linear-gradient(180deg, rgba(204,199,208,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
        }
    }

    .col-r {
        width: calc(50% - 40px);
        max-width: calc(50% - 40px);
        flex: 0 0 calc(50% - 40px);

        .bar-left-connect {
            position: relative;
            float: left;
            display: block;
            top: 15px;
            left: -17px;
            // height: 100px;
            background: white;
            width: 2px;
        }
        .bar-left-connect.f5 {
            background: $f5-color;
        }

        .bar-top-round {
            position: absolute;
            float: left;
            display: block;
            top: 0;
            left: -17px;
            width: 30px;
            height: 40px;
            border-top: 2px solid white;
            border-left: 2px solid white;
            border-top-left-radius: 13px;
        }
        .bar-top-round.f5 {
            border-top-color: $f5-color;
            border-left-color: $f5-color;
        }

        .f5-title {
            padding-top: 10px;
            color: $f5-color;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 1px;
        }

        .title-bar {
            position: absolute;
            float: left;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            //
            background: rgb(204,199,208);
            background: linear-gradient(270deg, rgba(204,199,208,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
        }

        .title-bar.f5 {

            background: rgb(204,199,208);
            background: linear-gradient(270deg, rgba(204,199,208,0) 0%, $f5-color 75%, $f5-color 100%);
        }

        .project-info {
            color: $secondary-text;

            .project-time {
                font-size: 12px;
            }

            .project-role {
                float: right;
                font-size: 12px;
            }
        }

        .project-tech {
            text-align: right;
            color: $secondary-text;
        }
    }
}
