$white: #fff;
$grey: #eee;
$light-grey: #eae6e6;
$dark: #252525;
$black: #1d1d1d;
$dark-black: #333333;

$orange: #ff6328;
$red-variation: #CB003E;
$red-dark: #a00115;

$facebook-blue: #3b5998;
$facebook-light-blue: #3f73de;

$header-height: 100px;
$submenu-height: 50px;
$footer-height: 180px;

$dark-grey: #ccc;
$text-grey: rgba(0, 0, 0, 0.6);

// de la firma!!

$xs-breakpoint: 1px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$laptop-breakpoint: 1364px;
$xxl-breakpoint: 1400px;
