<div *ngIf="loaded === true">
    <div class="element" [ngClass]="element?.typeClass">

        <svg *ngIf="element.type === ElementTypeRef.COMMENT" aria-hidden="true" focusable="false" data-prefix="fab"
            data-icon="slack-hash" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
            class="svg-inline--fa fa-slack-hash fa-w-14 coment-dashes">
            <path fill="currentColor"
                d="M446.2 270.4c-6.2-19-26.9-29.1-46-22.9l-45.4 15.1-30.3-90 45.4-15.1c19.1-6.2 29.1-26.8 23-45.9-6.2-19-26.9-29.1-46-22.9l-45.4 15.1-15.7-47c-6.2-19-26.9-29.1-46-22.9-19.1 6.2-29.1 26.8-23 45.9l15.7 47-93.4 31.2-15.7-47c-6.2-19-26.9-29.1-46-22.9-19.1 6.2-29.1 26.8-23 45.9l15.7 47-45.3 15c-19.1 6.2-29.1 26.8-23 45.9 5 14.5 19.1 24 33.6 24.6 6.8 1 12-1.6 57.7-16.8l30.3 90L78 354.8c-19 6.2-29.1 26.9-23 45.9 5 14.5 19.1 24 33.6 24.6 6.8 1 12-1.6 57.7-16.8l15.7 47c5.9 16.9 24.7 29 46 22.9 19.1-6.2 29.1-26.8 23-45.9l-15.7-47 93.6-31.3 15.7 47c5.9 16.9 24.7 29 46 22.9 19.1-6.2 29.1-26.8 23-45.9l-15.7-47 45.4-15.1c19-6 29.1-26.7 22.9-45.7zm-254.1 47.2l-30.3-90.2 93.5-31.3 30.3 90.2-93.5 31.3z"
                class=""></path>
        </svg>

        <!-- Disabled for now  -->
        <div *ngIf="element.type === ElementTypeRef.CHARACTER" class="character-sheet-icon"
            matTooltip="[Character Bio] is currently disabled until next release." matTooltipPosition="above" matTooltipClass="tooltip-red">
            <button mat-button [hidden]="!element.underCarret" (click)="onEditCharacter()" disabled="true">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="id-card-alt" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-id-card-alt fa-w-18">
                    <path fill="currentColor"
                        d="M528 64H384v96H192V64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM288 224c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm93.3 224H194.7c-10.4 0-18.8-10-15.6-19.8 8.3-25.6 32.4-44.2 60.9-44.2h8.2c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h8.2c28.4 0 52.5 18.5 60.9 44.2 3.2 9.8-5.2 19.8-15.6 19.8zM352 32c0-17.7-14.3-32-32-32h-64c-17.7 0-32 14.3-32 32v96h128V32z"
                        class=""></path>
                </svg>
            </button>
        </div>

        <mat-form-field
            *ngIf="element.type === ElementTypeRef.SCENE_HEADING || element.type === ElementTypeRef.CHARACTER"
            [ngClass]="element.inputClass">
            <input matInput #inputRef [name]='element.id' [placeholder]="element.type" [(ngModel)]="element.text"
                (focus)="edit()" (blur)="blur()">
        </mat-form-field>

        <mat-form-field
            *ngIf="(!element.hasRichText && element.type === ElementTypeRef.ACTION) || element.type === ElementTypeRef.DIALOG || element.type === ElementTypeRef.COMMENT"
            [ngClass]="element.inputClass">

            <!--    *ngIf="element.isEditing"   -->
            <textarea matInput #inputRef cdkTextareaAutosize cdkAutosizeMinRows="2" [name]="element.id" #autosize="cdkTextareaAutosize"
                [placeholder]="element.type" [(ngModel)]="element.text" (focus)="edit()" (blur)="blur()">
            </textarea>
            <!-- <div *ngIf="!element.isEditing"
                [innerHTML]="element.text">
            </div> -->
        </mat-form-field>

        <ng-container *ngIf="isBrowser">
            <ckeditor #ckEditorRef
                *ngIf="element.hasRichText && element.isEditing && element.type === ElementTypeRef.ACTION" class="w-100"
                [config]="editorModel.config" style="margin-top: -20px;" [(ngModel)]="element.editorData"
                [editor]="asyncObject.Editor"></ckeditor>
            <div *ngIf="element.hasRichText && !element.isEditing && element.type === ElementTypeRef.ACTION"
                class="w-100 display-text" (click)="externalEdit()" [innerHTML]="element.editorData">
            </div>
        </ng-container>

        <div class="rich-text-checkbox" *ngIf="element.type === ElementTypeRef.ACTION">
            <mat-checkbox [hidden]="!element.underCarret" [(ngModel)]="element.hasRichText"
                (change)="onActionRichText($event)">Rich</mat-checkbox>
        </div>

        <div *ngIf="element.type === ElementTypeRef.PICTURE" class="pic">

            <!--     [accept]="png" [multiple]="false"   -->
            <ngx-file-drop *ngIf="element.isEditing" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <span class="drop-files-info">Drop files directly here or </span>
                    <a type="button" (click)="openFileSelector()">browse them</a>.
                </ng-template>
            </ngx-file-drop>

            <img *ngIf="!element.isEditing" [src]="element.image" />
        </div>

        <div *ngIf="element.type === ElementTypeRef.VIDEO">
            YOUTUBE VIDEO coming soon! 😊
        </div>

        <div *ngIf="element.type === ElementTypeRef.SOUND">
            SOUND coming soon! 😊
        </div>

    </div>

    <app-bookmark
        *ngIf="element.type !== ElementTypeRef.SCENE_HEADING && element.type !== ElementTypeRef.COMMENT && element.type !== ElementTypeRef.EMPTY"
        [hidden]="!element.underCarret" class="bookmark" [isBookmarked]="element.isBookmarked"
        (onBookmark)="bookmark($event)">
    </app-bookmark>

    <app-cursor #cursorRef></app-cursor>
</div>