<div class="row no-gutters container m-auto page-min-height p-3">
    <div class="container-fluid pt-5 justify-content-center">
        <div class="col-12 m-auto">
            <h3>
                Cookies
            </h3>
        </div>

        <div class="col-11 m-auto">

            <p>
                A cookie is a small file that can be placed on your device that allows us to
                recognise and remember you. It is sent to your browser and stored on your computer's hard drive or
                tablet or mobile device. When you visit our sites, we may collect information from you automatically
                through cookies or similar technology.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                What types of cookies do we use ?
            </h4>
        </div>

        <div class="col-10 m-auto">
            <p>
                We use four types of cookies, which we describe in this section.
            </p>
            <p>
                Essential - cookies that are essential to provide you with services you have requested. For example,
                these include the cookies that make it possible for you to stay logged into your Guardian account
                and make comments. If you set your browser to block these cookies, then these functions and services
                will not work for you. In particular, we won't be able to save your preferences about cookies.
            </p>
            <p>
                Performance - cookies which measure how often you visit our sites, the Google Analytics cookie gives
                us information such
                as your journey between pages and whether you have downloaded anything (details of how to opt out of
                it are below).
            </p>
            <p>
                Functionality - cookies that are used to recognise you and remember your preferences or settings
                when you return to our site, so that we can provide you with a more personalised experience. For
                example, if you are based in the United Kingdom, we will remember this and make sure that you
                receive the UK homepage when you visit our site, rather than the US or Australia homepage. A mix of
                first-party and third-party cookies are used.
            </p>
            <p>
                Advertising - cookies that are used to collect information about your visit to our site, the content
                you have viewed, the links you have followed and information about your browser, device and your IP
                address. We have set out more details on this below.
            </p>

            <p>
                We use Google Analytics to track visitor activity. This third party tool is using cookies which you
                may disable in your browser.
            </p>
        </div>
    </div>
</div>
