<ng-scrollbar #NgScrollbar class="scroll-area back-wall" [ngClass]="scrollClass">

    <app-header class="header-container" [scrollClass]="scrollClass"></app-header>

    <div class="container-fluid p-0" style="background: rgba(0,0,0,0.33);">
        <router-outlet></router-outlet>

        <div class="col-12 p-0 header-container website-bottom-space">
            <div class="col-12">
                <cool-text full="gameScrypt" [size]="'h3'"></cool-text>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</ng-scrollbar>

<app-on-resize class="width-teller"></app-on-resize>

<div [hidden]="scrollClass !== 'min'" class="back-to-top-button">
    <button mat-button (click)="showMenu()">
        <!-- <fa-icon [icon]="faBars"></fa-icon> -->
    </button>
</div>
