@import "../../../theme/overrides/scss/variables";

$f5-color: rgba(4, 154, 205, 1);
$mindit-color: #e01728;

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .background-cv-page {
        margin: 0 !important;
    }
    .background-cv-skills {
        padding: 0 !important;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .background-cv-page {
        margin: 0 !important;
        width: 100%;
        max-width: 100%;
    }
    // .background-cv-skills {
    //     padding: 0 !important;
    // }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .background-cv-page {
        margin: 0 !important;
        width: 100%;
        max-width: 100%;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}

.h-divider {
    height: 2px;
    background: rgb(204, 199, 208);
    background: linear-gradient(
        90deg,
        rgba(204, 199, 208, 0) 0%,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 75%,
        rgba(114, 76, 142, 0) 100%
    );
}

.h-divider.dim {
    background: linear-gradient(
        90deg,
        rgba(204, 199, 208, 0) 0%,
        #ffffff42 25%,
        #ffffff42 50%,
        #ffffff42 75%,
        rgba(114, 76, 142, 0) 100%
    ) !important;
}

.revealer {
    transition: opacity 1s;
    opacity: 0;
}
.revealer.show {
    opacity: 1 !important;
}

.timeline-container {
    padding-top: 0px;

    .col-l,
    .col-c,
    .col-r {
        display: inline-block;
        float: left;
        min-height: 40px;
    }

    .col-l {
        width: calc(50% - 40px);
        max-width: calc(50% - 40px);
        flex: 0 0 calc(50% - 40px);

        .project-card {
            padding-top: 0;
            border-top-right-radius: 13px;
            flex: 0 0 calc(100% - 5px) !important;

            &:not(.first) {
                margin-top: 15px;
            }

            &.first {
                margin-top: 0;
            }
        }

        .secondary-skill {
            font-size: 13px;
            color: #ffffffa3;
            margin-top: 0.1rem !important;

            ::ng-deep {
                .rating-star {
                    svg {
                        width: 13px;
                    }

                    &.checked {
                        svg {
                            color: #ffffffa3;
                        }
                    }
                }
            }
        }
    }

    .col-c {
        width: 80px;
        max-width: 80px;
        flex: 0 0 80px;
        padding: 0;
        height: auto;

        .time-period {
            position: relative;
            // min-height: 10px;
            width: 100%;
            float: left;
            text-align: center;
            font-size: 13px;
            line-height: 40px;

            .dot {
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background: white;
                position: relative;
                float: right;
                right: -5px;
                z-index: 2;
                margin-top: 14px;

                &.left {
                    right: unset;
                    left: -80px;
                }
            }

            .dot.f5 {
                background: $f5-color;
            }
            .dot.mindit {
                background: $mindit-color;
            }

            .low-connector-line,
            .low-connector-curve {
                width: 18px;
                background: transparent;
                position: absolute;
                float: right;
                z-index: 2;
            }

            .low-connector-line {
                height: 79px;

                right: 0px;
                top: 40px;

                &.f5 {
                    border-left: 2px solid $f5-color;
                }
                &.mindit {
                    border-left: 2px solid $mindit-color;
                }

                &.left {
                    right: unset;
                    left: 11px;
                }
            }
            .low-connector-curve {
                width: 19px;
                height: 10px;
                right: -1px;
                top: 110px;

                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                &.f5 {
                    border-right: 2px solid $f5-color;
                    border-left: 2px solid $f5-color;
                    border-bottom: 2px solid $f5-color;
                }
                &.mindit {
                    border-right: 2px solid $mindit-color;
                    border-left: 2px solid $mindit-color;
                    border-bottom: 2px solid $mindit-color;
                }

                &.left {
                    right: unset;
                    left: -6px;
                }
            }
        }

        .divider-v {
            position: relative;
            min-height: 3px;
            width: 2px;
            float: right;
            right: 38px;
            //
            background: white;
        }

        .divider-v-start {
            width: 2px;
            min-height: 10px;
            position: relative;
            float: left;
            left: 40px;
            top: 0;
            //
            background: rgb(204, 199, 208);
            background: linear-gradient(
                180deg,
                rgba(204, 199, 208, 0) 0%,
                rgba(255, 255, 255, 1) 75%,
                rgba(255, 255, 255, 1) 100%
            );
        }
        .divider-v-end {
            width: 2px;
            min-height: 10px;
            position: relative;
            float: left;
            left: 40px;
            top: 0;
            //
            background: rgb(204, 199, 208);
            background: linear-gradient(
                0deg,
                rgba(204, 199, 208, 0) 0%,
                rgba(255, 255, 255, 1) 75%,
                rgba(255, 255, 255, 1) 100%
            );
        }
    }

    .col-r {
        width: calc(50% - 40px);
        max-width: calc(50% - 40px);
        flex: 0 0 calc(50% - 40px);

        .project-card {
            padding-top: 0;
            border-top-left-radius: 13px;

            &:not(.first) {
                margin-top: 15px;
            }

            &.first {
                margin-top: 0;
            }
        }

        .bar-left-connect {
            position: relative;
            float: left;
            display: block;
            top: 15px;
            left: -17px;
            // height: 100px;
            background: white;
            width: 2px;
        }
        .bar-left-connect.f5 {
            background: $f5-color;
        }
        .bar-left-connect.mindit {
            background: $mindit-color;
        }

        .f5-title {
            padding-top: 10px;
            color: $f5-color;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 1px;
        }
    }

    .bar-top-round.left {
        right: -17px;
        border-right: 2px solid white;
        border-top-right-radius: 13px;
        //
        left: unset;
        border-left: none;
        border-top-left-radius: 0;
        &.f5 {
            border-right-color: $f5-color;
        }
        &.mindit {
            border-right-color: $mindit-color;
        }
    }
    .bar-top-round {
        position: absolute;
        float: left;
        display: block;
        top: 0;
        left: -17px;
        width: 30px;
        height: 40px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-top-left-radius: 13px;
    }
    .bar-top-round.f5 {
        border-top-color: $f5-color;
        border-left-color: $f5-color;
    }
    .bar-top-round.mindit {
        border-top-color: $mindit-color;
        border-left-color: $mindit-color;
    }

    .title-bar {
        position: absolute;
        float: left;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        //
        background: rgb(204, 199, 208);
        background: linear-gradient(
            270deg,
            rgba(204, 199, 208, 0) 0%,
            rgba(255, 255, 255, 1) 75%,
            rgba(255, 255, 255, 1) 100%
        );
    }
    .title-bar.left {
        background: linear-gradient(
            90deg,
            rgba(204, 199, 208, 0) 0%,
            rgba(255, 255, 255, 1) 75%,
            rgba(255, 255, 255, 1) 100%
        ) !important;
    }

    .title-bar.f5 {
        background: rgb(204, 199, 208);
        background: linear-gradient(270deg, rgba(204, 199, 208, 0) 0%, $f5-color 75%, $f5-color 100%);
        &.left {
            background: linear-gradient(90deg, rgba(204, 199, 208, 0) 0%, $f5-color 75%, $f5-color 100%) !important;
        }
    }
    .title-bar.mindit {
        background: rgb(204, 199, 208);
        background: linear-gradient(270deg, rgba(204, 199, 208, 0) 0%, $mindit-color 75%, $mindit-color 100%);
        &.left {
            background: linear-gradient(
                90deg,
                rgba(204, 199, 208, 0) 0%,
                $mindit-color 75%,
                $mindit-color 100%
            ) !important;
        }
    }

    .project-info {
        color: $secondary-text;

        .project-time {
            font-size: 12px;
        }

        .project-role {
            float: right;
            font-size: 12px;
        }
    }

    .project-tech {
        text-align: right;
        color: $secondary-text;
    }
}
