<div *ngIf="inDialog" class="row container m-auto p-3">
    <a class="hyperlink" href="#" routerLink="/contact"
        (click)="matDialogRef.close()">
        <cool-text pre="S" word="ee" suffix=" Page"></cool-text>
    </a>
</div>

<div class="row no-gutters container m-auto page-min-height p-3">
    <div class="d-flex pt-5 justify-content-center">

        <div class="col-10 m-auto">
            <div class="row">
                <div class="col-8">
                    <div class="row">

                        <div class="col-12 p-0">
                            <h5>Hi, I'm Daniel and I own this place.</h5>
                            <p>Have any questions or sugestions?</p>
                            <p>Reach out!</p>
                        </div>

                        <div class="col-12 p-0">
                            <a href="https://m.me/406104222842664">
                                <icon-contact></icon-contact>
                                <span style="margin-left: 10px;">Contact me</span></a>
                        </div>

                        <div class="col-12 p-0">
                            <a href="mailto:daniel.gamescrypt@gmail.com">
                                <icon-paper-plane></icon-paper-plane>
                                <span style="margin-left: 10px;">daniel.gamescrypt@gmail.com</span></a>
                        </div>

                        <div class="col-12 p-0">
                            <a href="whatsapp://send?text=Hi!&phone=0040770699159">
                                <icon-whatsapp></icon-whatsapp>
                                <span style="margin-left: 10px;">Dani</span>
                            </a>
                        </div>

                        <div class="col-12 p-0">
                            <a href="tel:0040770699159">
                                <icon-mobile></icon-mobile>
                                <span style="margin-left: 10px;">+40 770 699 159</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-4">
                    <img class="owner-pp w-100" src="assets/images/pp.png" />
                </div>
            </div>
        </div>
    </div>
</div>
