@import '../../../theme/overrides/scss/variables';

::ng-deep {
    icon-contact {
        > svg {
            width: 13px;
        }
    }

    icon-paper-plane {
        > svg {
            width: 13px;
        }
    }

    icon-whatsapp {
        > svg {
            width: 13px;
        }
    }

    icon-mobile {
        > svg {
            width: 8px;
        }
    }

    icon-copyright {
        > svg {
            width: 13px;
        }
    }

    icon-twiter {
        > svg {
            width: 13px;
        }
    }

    icon-facebook-square {
        > svg {
            width: 13px;
        }
    }

    icon-instagram {
        > svg {
            width: 13px;
        }
    }

    icon-facebook {
        > svg {
            width: 33px;
            margin-left: 8px;
        }
    }

    icon-contact-us {
        > svg {
            width: 20px;
            margin-left: 8px;
            margin-right: 5px;
            margin-top: -5px;
            color: $Smoke;
        }
    }

    icon-policy {
        > svg {
            width: 20px;
            margin-left: 8px;
            margin-right: 5px;
            margin-top: -5px;
            color: $Smoke;
        }
    }

    icon-about-us {
        > svg {
            width: 20px;
            margin-left: 8px;
            margin-right: 5px;
            margin-top: -5px;
            color: $Smoke;
        }
    }

    icon-navigate {
        > svg {
            width: 15px;
            margin-left: 1px;
            margin-right: 5px;
            margin-top: 3px;
            color: $Smoke;
        }
    }

    icon-more {
        > svg {
            width: 15px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 0px;

            .fa-secondary {
                color: $dark-grey;
            }

            .fa-primary {
                color: $orange;
            }
        }
    }

    icon-game-script {
        > svg {
            height: 165px;
            position: absolute;
            margin-left: -5px;
        }
    }

    icon-game-scrypt {
        > svg {
            height: 175px;
            position: absolute;
            margin-left: -10px;
            margin-top: -5px;
        }
    }

    icon-google-play {
        > svg {
            height: 33px;
            width: 133px;
        }
    }

    icon-free {
        > svg {
            height: 120px;
            position: absolute;
            top: -80px;
            left: -35px;
            transform: rotate(-45deg);
        }
    }

    icon-cicle {
        > svg {
            width: 15px;
            // color: $Smoke;
        }
    }

    icon-terminal {
        > svg {
            width: 14px;
            color: darkseagreen;
        }
    }

    icon-star {

        position: relative;
        margin-right: 3px;
        bottom: 2px;

        > svg {
            width: 15px;
            color: $Smoke;
        }
    }

    .toilet-paper {
        background-image: url('../../../../assets/images/ToiletPaper_512.png');
        background-size: cover;
        width: 20px;
        height: 20px;
        margin-bottom: -5px;
        border: none;
        display: inline-block;
    }
}
