@import '../../../theme/overrides/scss/variables';

::ng-deep {
    icon-contact {
        > svg {
            width: 13px;
        }
    }

    icon-paper-plane {
        > svg {
            width: 13px;
        }
    }

    icon-whatsapp {
        > svg {
            width: 13px;
        }
    }

    icon-mobile {
        > svg {
            width: 8px;
        }
    }

    icon-copyright {
        > svg {
            width: 13px;
        }
    }

    icon-twiter {
        > svg {
            width: 13px;
        }
    }

    icon-facebook-square {
        > svg {
            width: 13px;
        }
    }

    icon-instagram {
        > svg {
            width: 13px;
        }
    }

    icon-facebook {
        > svg {
            width: 33px;
            margin-left: 8px;
        }
    }

    icon-contact-us {
        > svg {
            width: 20px;
            margin-left: 8px;
            margin-right: 5px;
            margin-top: -5px;
            color: whitesmoke;
        }
    }

    icon-policy {
        > svg {
            width: 20px;
            margin-left: 8px;
            margin-right: 5px;
            margin-top: -5px;
            color: whitesmoke;
        }
    }

    icon-about-us {
        > svg {
            width: 20px;
            margin-left: 8px;
            margin-right: 5px;
            margin-top: -5px;
            color: whitesmoke;
        }
    }

    icon-navigate {
        > svg {
            width: 15px;
            margin-left: 1px;
            margin-right: 5px;
            margin-top: 3px;
            color: whitesmoke;
        }
    }

    icon-more {
        > svg {
            width: 15px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 0px;
            color: $orange;
        }
    }
}
