::ng-deep {
    icon-contact {
        > svg {
            width: 13px;
        }
    }

    icon-paper-plane {
        > svg {
            width: 13px;
        }
    }

    icon-whatsapp {
        > svg {
            width: 13px;
        }
    }

    icon-mobile {
        > svg {
            width: 8px;
        }
    }

    icon-copyright {
        > svg {
            width: 13px;
        }
    }

    icon-twiter {
        > svg {
            width: 13px;
        }
    }

    icon-facebook-square {
        > svg {
            width: 13px;
        }
    }

    icon-instagram {
        > svg {
            width: 13px;
        }
    }

    icon-facebook {
        > svg {
            width: 33px;
            margin-left: 8px;
        }
    }
}
