<div class="menu-back-button" *ngIf="showBackToCategories">
	<button mat-raised-button (click)="backToCategories(menuHeaderRef)">
		<mat-icon>keyboard_arrow_up</mat-icon>
	</button>
</div>
<div #menuHeaderRef class="menu-header text-center pt-3 pb-3">
	Meniu Delivery
</div>
<div #menuContainerRef class="row mt-3 menu-container z-indx2">

	<div class="category p-0 mx-auto mb-3"
		(click)="showMenu(category)"
		[style.width.px]="_catWidth"
		[style.height.px]="_catWidth"
		[style.background-image]="'url(../../../assets/categoryImages/' + category.photoName"
		*ngFor="let category of categories;">

		<div class="category-info">
			<div class="text-center category-name">
				<div>
					{{category.name}}
				</div>
			</div>
		</div>
	</div>

	<div class="mx-auto">
		<button mat-button routerLink="/detalii">
			Click aici pentru detalii nutritionale despre produse
		</button>
	</div>

	<app-menu #menuRef [categories]="categories"></app-menu>
</div>
