/* You can add global styles to this file, and also import other style files */

@import "app/theme/overrides/scss/_variables";

// Override Material styles
@import "./app/theme/overrides/material";

// Override PrimeNG styles
@import "./app/theme/overrides/primeng";

* {
    outline: none !important;
}

html,
body {
    height: 100vh !important;
    overflow: hidden !important;
    // background-color: $background-color !important;
}

body {
    margin: 0;
    font-family: graphikRegular;
    color: $Smoke;
}

.f-roboto {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

p {
    font-family: graphikRegular;
    font-size: 0.9em;
}

li {
    color: #ccc;
}

b {
    color: white;
}

a {
    color: white;
    &:hover {
        color: $orange !important;

        cool-text {
            .pre {
                color: white !important;
            }
        }
    }
}

body a {
    color: white;
    text-decoration: none;
}

.fw-5 {
    font-weight: 500 !important;
}

.page-min-height {
    min-height: calc(100vh - ((#{$header-height} + #{$submenu-height}) + 130px));
}

.page-min-height-330 {
    min-height: calc(100vh - ((#{$header-height} + #{$submenu-height}) + 330px));
}

.main-menu {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 50px;
}

.basic-dialog-dimensions {
    min-height: 90vh;
    min-width: 60vw;

    input {
        color: $dark-black;
    }
}

.basic-dimensions {
    height: 80vh !important;
}

.scroll-area {
    height: calc(100vh - 100px);
    max-height: calc(100vh - 100px) !important;
    transition: height 1.5s !important;
}

.scroll-area.min {
    max-height: 100vh !important;
}

.scroll-area.med {
    max-height: 100vh !important;
}

.scroll-area.max {
    max-height: 100vh !important;
}

.fade-in-text {
    color: transparent;
    transition: color 1.5s !important;

    a {
        color: transparent;
    }

    b {
        color: transparent;
    }

    .word,
    .pre,
    .suffix {
        color: transparent;
    }

    li {
        color: transparent;
    }
}

.fade-in-text.show {
    color: $Smoke;

    a {
        color: $orange;
    }

    a.hyperlink {
        color: unset;
    }

    b {
        transition: color 1.5s !important;
        color: white;
    }

    .word {
        transition: color 1.5s !important;
        color: white;
    }

    .pre {
        transition: color 1.5s !important;
        color: $orange;
    }

    .suffix {
        transition: color 1.5s !important;
        color: #c5c5c5;
    }

    li {
        color: #ccc;
    }
}

.elips {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.header.med {
    .facebook-button {
        margin-top: 5px !important;
    }
}

.facebook-button {
    float: right;
    margin-top: 20px !important;

    .fa-facebook {
        font-size: 35px;
        color: $facebook-light-blue !important;
    }

    .face-logged-in-info {
        > div {
            float: left;
            display: block;
            width: 100%;
            text-align: right;
            transition: all 0.5s;
        }

        img {
            border-radius: 50%;
            height: 44px;
            margin-left: 5px;
            float: right;
        }

        padding-right: 15px;
        font-size: 13px;
        line-height: 20px;

        &.min {
            color: transparent !important;
        }

        &.med {
            color: transparent !important;
        }

        &.max {
            color: white !important;
        }
    }
}

fa-icon {
    color: white;
}

//-----------------------------------------------------------------------------

@font-face {
    src: url(./assets/fonts/GraphikRegular.otf);
    font-family: graphikRegular;
}

@font-face {
    src: url("./assets/fonts/robotoslab-regular.woff2") format("woff2"),
        url("./assets/fonts/robotoslab-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-family: robotoSlabRegular;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 257mm;
    outline: 2cm #ffeaea solid;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
}

.back-to-top-button {
    position: absolute;
    bottom: 40px;
    right: 60px;
    z-index: 999999;
    display: block;

    //
    width: 64px;
    height: 64px;
    background: transparent;
    border-radius: 50%;

    button {
        padding: 0;
        height: 100%;
        width: 100%;
        font-size: 44px;

        fa-icon {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.cursor {
    height: 0px;

    .carret {
        transition: all 0.7s;
        height: 3px;
        background: transparent;
    }
}

.ck.ck-button:not(.ck-disabled):hover {
    background: lightgray !important;
}

.ck-toolbar {
    height: 20px !important;

    .ck-toolbar__items {
        height: 15px !important;
    }

    .ck-button {
        font-size: 10px !important;
        margin: 0 !important;
    }
}

.ck-content {
    padding: 0 !important;
    margin-top: -10px;
    min-height: 53px !important;
}

ckeditor {
    margin-top: -20px;
}

a.orange {
    color: $orange;
}

.cc-window {
    background-color: rgba(0, 0, 0, 0.3) !important;
    padding: 0 30px !important;

    .cc-btn {
        background-color: rgba(0, 0, 0, 0.3) !important;
        color: white !important;
    }
}

.copy-right {
    position: absolute;
    bottom: 0;
    font-size: 10px;
}

.red {
    color: red;
}

.width-teller {
    width: 100vw;
    height: 0px;
}

.tooltip-red {
    background: #b71c1c;
}

.bp {
    height: 0px;
    position: absolute;
    color: rgba(0, 0, 0, 0.2);
}

.c-point {
    cursor: pointer !important;
}

.mrn-5px {
    margin-right: -5px !important;
}
.mrn-3p {
    margin-right: -3px !important;
}

.f-10 {
    font-size: 10px !important;
    line-height: 11px !important;
}

.f-11 {
    font-size: 11px !important;
    line-height: 12px !important;
}

.more-button {
    color: white;
    font-size: 13px;
    font-weight: 500;
    height: 18px;
    padding-left: 7px;

    .pre {
        font-size: 14px;
    }

    &:hover {
        border-bottom: 1px solid $Smoke;
    }
}

.btn-sm.download {
    background: #adff2fc7;
    margin-left: 15px;
    font-weight: 500;
}

.color-text {
    color: #ccc;
}

a.hyperlink {
    transition: all 1s;
    color: white;
    background: transparent !important;
    &:hover {
        color: $orange;

        .pre {
            color: white !important;
        }
    }
}

.privacy-text {
    p {
        color: #ccc;
    }
}

$gradiantBorderSidesWidth: 3px;
$gradiantBorderWidth: 3px;
$grdColor1: $orange;
$grdColor2: $Smoke;

.dialog-class {
    .mat-dialog-container {
        color: $Smoke;
        background-color: rgba(16, 24, 35, 0.83) !important;
        //
        overflow-y: hidden;
        margin: 50px auto;
        border-left: $gradiantBorderSidesWidth solid $grdColor1 !important;
        border-right: $gradiantBorderSidesWidth solid $grdColor2 !important;
        border-radius: 5px !important;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
        background-position: 0 0, 0 100% !important;
        background-repeat: no-repeat !important;
        -webkit-background-size: 100% $gradiantBorderWidth !important;
        -moz-background-size: 100% $gradiantBorderWidth !important;
        background-size: 100% $gradiantBorderWidth !important;
        background-image: -webkit-linear-gradient(left, $grdColor1 0%, $grdColor2 100%),
            -webkit-linear-gradient(left, $grdColor1 0%, $grdColor2 100%) !important;
        background-image: -moz-linear-gradient(left, $grdColor1 0%, $grdColor2 100%),
            -moz-linear-gradient(left, $grdColor1 0%, $grdColor2 100%) !important;
        background-image: -o-linear-gradient(left, $grdColor1 0%, $grdColor2 100%),
            -o-linear-gradient(left, $grdColor1 0%, $grdColor2 100%) !important;
        background-image: linear-gradient(to right, $grdColor1 0%, $grdColor2 100%),
            linear-gradient(to right, $grdColor1 0%, $grdColor2 100%) !important;

        .dialog-background {
            background-color: $background-color;
            background-image: url("./assets/images/wall.png");
            background-repeat: revert;
            background-size: contain;
            background-attachment: fixed;
            border-radius: 15px;
            //
            // box-shadow: 0 4px 15px #0000008a;
            -webkit-box-shadow: inset 3px 0px 88px 15px rgba(0, 0, 0, 0.48);
            -moz-box-shadow: inset 3px 0px 88px 15px rgba(0, 0, 0, 0.48);
            box-shadow: inset 3px 0px 88px 15px rgb(0 0 0 / 65%);

            .ng-scrollbar-wrapper,
            .dialog-background-shadow {
                border-radius: 15px;
                background: rgb(16 24 35 / 83%);
            }

            .dialog-background-shadow {
                margin-bottom: 20px;
                padding: 15px 20px;
            }
        }
    }
}

.placeholder-text {
    opacity: 0;
}

.img-shadow {
    > img {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.44) !important;
        -moz-border-image: -moz-linear-gradient(left, transparent, #aacabb, transparent) 100% 1 !important;
    }
}

.color-golden {
    color: #f7e793;
}

.word-justify {
    text-align: justify;
    text-justify: inter-word;
}

.f-1rem {
    font-size: 1rem !important;
}

.p-tab {
    padding-left: 3rem;
}

.m-h-100vh {
    min-height: 100vh !important;
}

.text-book {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    //
    font-size: 14px;
}

.picture-dialog {
    .mat-dialog-container {
        margin-top: 0;
        transform: none;
        max-height: unset;
        height: 100vh !important;
        min-height: 100vh;
        overflow-x: clip;
    }
}

.col-image {
    background: #0a090947;
    border-radius: 5px;
    padding: 2px !important;

    > img {
        width: 100%;
        border-radius: 5px;
    }
}

.types-services {
    .active {
        font-weight: 500;
        font-size: 19px;
        padding-bottom: 3px;
        color: white;
    }
}
