/* You can add global styles to this file, and also import other style files */

@import "app/theme/overrides/scss/_variables";

// Override Material styles
@import "./app/theme/overrides/material";

// Override PrimeNG styles
// @import 'primeng-overrides';

* {
    outline: none !important;
}

html,
body {
    height: 100vh !important;
    overflow: hidden !important;
    // background-color: $background-color !important;
}

body {
    margin: 0;
    font-family: graphikRegular;
    color: $Smoke;
}

.f-roboto {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

p {
    font-family: graphikRegular;
    font-size: 0.9em;
}

li {
    color: #ccc;
}

b {
    color: white;
}

a {
    color: white;
}

.page-min-height {
    min-height: calc(
        100vh - ((#{$header-height} + #{$submenu-height}) + 130px)
    );
}

.page-min-height-330 {
    min-height: calc(
        100vh - ((#{$header-height} + #{$submenu-height}) + 330px)
    );
}

.main-menu {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 50px;
}

.navigation-bar {
    .bec-process {
        width: 25%;
    }

    .mindit-menu .multi-op.mat-icon-button.active {
        top: 1.5px !important;
    }

    .menu-item {
        .mat-button {
            padding: 0px 30px;
            font-size: 13px !important;
            min-width: 60px !important;
        }

        .mat-icon-button {
            width: 25px;
        }
    }
}

.navigation-bar-tabs {
    .mindit-submenu button.multi-op.mat-icon-button.active {
        top: 1.5px !important;
    }

    .menu-item {
        .mat-button,
        .mat-button.active {
            top: 1.5px !important;
            padding: 0px 10px !important;
            font-size: 13px !important;
            min-width: 60px !important;
        }

        .mat-icon-button {
            width: 25px;
        }
    }
}

.basic-dialog-dimensions {
    min-height: 90vh;
    min-width: 60vw;

    input {
        color: $dark-black;
    }
}

.basic-dimensions {
    height: 80vh !important;
}

.scroll-area {
    height: calc(100vh - 100px);
    max-height: calc(100vh - 100px) !important;
    transition: height 1.5s !important;
}

.scroll-area.min {
    max-height: 100vh !important;
}

.scroll-area.med {
    max-height: 100vh !important;
}

.scroll-area.max {
    max-height: 100vh !important;
}

.fade-in-text {
    color: transparent;
    transition: color 1.5s !important;

    a {
        color: transparent;
    }

    b {
        color: transparent;
    }

    .word,
    .pre,
    .suffix {
        color: transparent;
    }

    li {
        color: transparent;
    }
}

.fade-in-text.show {
    color: $Smoke;

    a {
        color: #3f51b5;
    }

    a.hyperlink {
        color: unset;
    }

    b {
        transition: color 1.5s !important;
        color: white;
    }

    .word {
        transition: color 1.5s !important;
        color: white;
    }

    .pre {
        transition: color 1.5s !important;
        color: $orange;
    }

    .suffix {
        transition: color 1.5s !important;
        color: #c5c5c5;
    }

    li {
        color: #ccc;
    }
}

.header.med {
    .facebook-button {
        margin-top: 5px !important;
    }
}

.facebook-button {
    float: right;
    margin-top: 20px !important;

    .mat-button-wrapper {
        color: white !important;
    }

    .fa-facebook {
        font-size: 35px;
        color: $facebook-light-blue !important;
    }

    .face-logged-in-info {
        > div {
            float: left;
            display: block;
            width: 100%;
            text-align: right;
            transition: all 0.5s;
        }

        img {
            border-radius: 50%;
            height: 44px;
            margin-left: 5px;
            float: right;
        }

        padding-right: 15px;
        font-size: 13px;
        line-height: 20px;

        &.min {
            color: transparent !important;
        }

        &.med {
            color: transparent !important;
        }

        &.max {
            color: white !important;
        }
    }
}

fa-icon {
    color: white;
}

//-----------------------------------------------------------------------------

@font-face {
    src: url(./assets/fonts/GraphikRegular.otf);
    font-family: graphikRegular;
}

@font-face {
    src: url("./assets/fonts/robotoslab-regular.woff2") format("woff2"),
        url("./assets/fonts/robotoslab-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-family: robotoSlabRegular;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 257mm;
    outline: 2cm #ffeaea solid;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.the-tool {
    .mat-form-field.mat-focused .mat-form-field-label {
        color: transparent;
    }

    .mat-form-field-appearance-legacy {
        .mat-form-field-label {
            color: transparent;
        }

        .mat-form-field-empty {
            color: rgba(0, 0, 0, 0.54);
        }

        .mat-form-field-underline {
            background-color: transparent;
        }
    }

    .input-empty.mat-form-field-appearance-legacy {
        .mat-form-field-underline {
            background-color: rgba(0, 0, 0, 0.42);
        }
    }
}

//

.back-to-top-button {
    position: absolute;
    bottom: 40px;
    right: 60px;
    z-index: 999999;
    display: block;

    //
    width: 64px;
    height: 64px;
    background: transparent;
    border-radius: 50%;

    button {
        padding: 0;
        height: 100%;
        width: 100%;
        font-size: 44px;

        fa-icon {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.cursor {
    height: 0px;

    .carret {
        transition: all 0.7s;
        height: 3px;
        background: transparent;
    }
}

.ck.ck-button:not(.ck-disabled):hover {
    background: lightgray !important;
}

.ck-toolbar {
    height: 20px !important;

    .ck-toolbar__items {
        height: 15px !important;
    }

    .ck-button {
        font-size: 10px !important;
        margin: 0 !important;
    }
}

.ck-content {
    padding: 0 !important;
    margin-top: -10px;
    min-height: 53px !important;
}

ckeditor {
    margin-top: -20px;
}

.mat-checkbox-checked .mat-checkbox-background {
    background-color: #3f51b5 !important;
}

a.orange {
    color: $orange;
}

.cc-window {
    background-color: rgba(0, 0, 0, 0.3) !important;
    padding: 0 30px !important;

    .cc-btn {
        background-color: rgba(0, 0, 0, 0.3) !important;
        color: white !important;
    }
}

.copy-right {
    position: absolute;
    bottom: 0;
    font-size: 10px;
}

.red {
    color: red;
}

.width-teller {
    width: 100vw;
    height: 0px;
}

.tooltip-red {
    background: #b71c1c;
}

.bp {
    height: 0px;
    position: absolute;
    color: rgba(0, 0, 0, 0.2);
}

.c-point {
    cursor: pointer !important;
}

.mrn-5px {
    margin-right: -5px !important;
}
.mrn-3p {
    margin-right: -3px !important;
}

.f-10 {
    font-size: 10px !important;
    line-height: 11px !important;
}

.f-11 {
    font-size: 11px !important;
    line-height: 12px !important;
}

.more-button {
    color: white;
    font-size: 13px;
    font-weight: 500;
    height: 18px;
    padding-left: 7px;

    .pre {
        font-size: 14px;
    }

    &:hover {
        border-bottom: 1px solid $Smoke;
    }
}

.btn-sm.download {
    background: #adff2fc7;
    margin-left: 15px;
    font-weight: 500;
}

.color-text {
    color: #ccc;
}

a.hyperlink {
    transition: all 1s;
    color: white;
    &:hover {
        color: $orange;

        .pre {
            color: white !important;
        }
    }
}

.privacy-text {
    p {
        color: #ccc;
    }
}

$gradiantBorderSidesWidth: 3px;
$gradiantBorderWidth: 3px;
$grdColor1: $orange;
$grdColor2: $Smoke;

.dialog-class {
    .mat-dialog-container {
        color: $Smoke;
        background-color: rgba(16, 24, 35, 0.83) !important;
        //
        overflow-y: hidden;
        margin: 50px auto;
        border-left: $gradiantBorderSidesWidth solid $grdColor1 !important;
        border-right: $gradiantBorderSidesWidth solid $grdColor2 !important;
        border-radius: 5px !important;
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
        background-position: 0 0, 0 100% !important;
        background-repeat: no-repeat !important;
        -webkit-background-size: 100% $gradiantBorderWidth !important;
        -moz-background-size: 100% $gradiantBorderWidth !important;
        background-size: 100% $gradiantBorderWidth !important;
        background-image: -webkit-linear-gradient(
                left,
                $grdColor1 0%,
                $grdColor2 100%
            ),
            -webkit-linear-gradient(left, $grdColor1 0%, $grdColor2 100%) !important;
        background-image: -moz-linear-gradient(
                left,
                $grdColor1 0%,
                $grdColor2 100%
            ),
            -moz-linear-gradient(left, $grdColor1 0%, $grdColor2 100%) !important;
        background-image: -o-linear-gradient(
                left,
                $grdColor1 0%,
                $grdColor2 100%
            ),
            -o-linear-gradient(left, $grdColor1 0%, $grdColor2 100%) !important;
        background-image: linear-gradient(
                to right,
                $grdColor1 0%,
                $grdColor2 100%
            ),
            linear-gradient(to right, $grdColor1 0%, $grdColor2 100%) !important;

        .dialog-background {
            background-color: $background-color;
            background-image: url("./assets/images/wall.png");
            background-repeat: revert;
            background-size: contain;
            background-attachment: fixed;
            border-radius: 15px;
            //
            // box-shadow: 0 4px 15px #0000008a;
            -webkit-box-shadow: inset 3px 0px 88px 15px rgba(0, 0, 0, 0.48);
            -moz-box-shadow: inset 3px 0px 88px 15px rgba(0, 0, 0, 0.48);
            box-shadow: inset 3px 0px 88px 15px rgb(0 0 0 / 65%);

            .ng-scrollbar-wrapper,
            .dialog-background-shadow {
                border-radius: 15px;
                background: rgb(16 24 35 / 83%);
            }

            .dialog-background-shadow {
                margin-bottom: 20px;
                padding: 15px 20px;
            }
        }
    }
}
