/* You can add global styles to this file, and also import other style files */

@import "app/theme/overrides/scss/_variables";

* {
  outline: none !important;
}

html,
body {
  height: 100vh !important;
  overflow: hidden !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $dark-black;
}

p {
  font-family: graphikRegular;
  font-size: 0.9em;
}

li {
  color: #254f79;
}

b {
  color: $black;
}

.page-min-width {
  min-height: calc(100vh - ((#{$header-height} + #{$submenu-height}) + #{$footer-height}));
}

.main-menu {
  background-color: $black;
  min-height: 50px;
}

.navigation-bar {
  .bec-process {
    width: 25%;
  }

  .mindit-menu .multi-op.mat-icon-button.active {
    top: 1.5px !important;
  }

  .menu-item {
    .mat-button {
      padding: 0px 30px;
      font-size: 13px !important;
      min-width: 60px !important;
    }

    .mat-icon-button {
      width: 25px;
    }
  }
}

.navigation-bar-tabs {
  .mindit-submenu button.multi-op.mat-icon-button.active {
    top: 1.5px !important;
  }

  .menu-item {
    .mat-button,
    .mat-button.active {
      top: 1.5px !important;
      padding: 0px 10px !important;
      font-size: 13px !important;
      min-width: 60px !important;
    }

    .mat-icon-button {
      width: 25px;
    }
  }
}

.basic-dialog-dimensions {
  min-height: 90vh;
  min-width: 60vw;

  input {
    color: $dark-black;
  }
}

.basic-dimensions {
  height: 80vh !important;
}

.scroll-area {
  height: calc(100vh - 100px);
  max-height: calc(100vh - 100px) !important;
  transition: height 1.5s !important;
}

.scroll-area.min {
  max-height: calc(100vh - 50px) !important;
}

.scroll-area.med {
  max-height: calc(100vh - 100px) !important;
}

.scroll-area.max {
  max-height: calc(100vh - 100px) !important;
}

.fade-in-text {
  color: transparent;
  transition: color 1.5s !important;

  a {
    color: transparent;
  }
}

.fade-in-text.show {
  color: #444444;

  a {
    color: #3f51b5;
  }
}

.facebook-button {
  .mat-button-wrapper {
    color: white !important;
  }

  .fa-facebook {
    font-size: 35px;
    color: $facebook-light-blue !important;
  }

  .face-logged-in-info {
    > div {
      float: left;
      display: block;
      width: 100%;
      text-align: right;
      transition: all 0.5s;
    }

    img {
      border-radius: 50%;
      height: 44px;
      margin-left: 5px;
      float: right;
    }

    padding-right: 15px;
    font-size: 13px;
    line-height: 20px;

    &.min {
      color: transparent !important;
    }

    &.med {
      color: transparent !important;
    }

    &.max {
      color: white !important;
    }
  }
}

fa-icon {
  color: white;
}

//-----------------------------------------------------------------------------

@font-face {
  src: url(./assets/fonts/GraphikRegular.otf);
  font-family: graphikRegular;
}

@font-face {
  src: url("./assets/fonts/robotoslab-regular.woff2") format("woff2"),
    url("./assets/fonts/robotoslab-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-family: robotoSlabRegular;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 10mm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 257mm;
  outline: 2cm #ffeaea solid;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }

  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

.element.character {
  @media (min-width: $xs-breakpoint) {
    padding: 5px 22%;
  }
  @media (min-width: $sm-breakpoint) {
    padding: 1mm 50mm;
  }
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  mat-form-field,
  .mat-input-element {
    text-transform: uppercase;
    text-align: center;

    //
    font-family: robotoSlabRegular;
    font-weight: 700;
    @media (min-width: $xs-breakpoint) {
      font-size: 0.6rem;
      max-width: 100%;
    }
    @media (min-width: $sm-breakpoint) {
      font-size: 14px;
      max-width: unset;
    }
  }

  .mat-form-field-label {
    text-align: center;
  }
}

.element.dialog {
  @media (min-width: $xs-breakpoint) {
    padding: 5px 22%;
  }
  @media (min-width: $sm-breakpoint) {
    padding: 1mm 50mm;
  }

  text-align: center;
  text-transform: capitalize;
  font-size: 4mm;

  mat-form-field,
  .mat-input-element {
    text-align: center;
    font-family: graphikRegular;

    @media (min-width: $xs-breakpoint) {
      font-size: 0.6rem;
      max-width: 100%;
    }
    @media (min-width: $sm-breakpoint) {
      font-size: 15px;
      max-width: unset;
    }
  }

  mat-form-field {
    .mat-form-field-wrapper {
      @media (min-width: $xs-breakpoint) {
        padding-bottom: 0.5em !important;
      }
      @media (min-width: $sm-breakpoint) {
        padding-bottom: 1.25em !important;
      }
    }
  }

  .mat-form-field-label {
    text-align: center;
  }
}

.element.picture {
  @media (min-width: $xs-breakpoint) {
    padding: 0;
    width: 100%;
    height: auto;
    min-height: unset;
  }
  @media (min-width: $sm-breakpoint) {
    padding: 5mm 20mm;
    min-height: 75mm;
    width: 170mm;
  }

  text-align: center;
  .pic {
    @media (min-width: $xs-breakpoint) {
      height: 30vh;
    }
    @media (min-width: $sm-breakpoint) {
      height: 70mm;
    }

    ngx-file-drop {
      @media (min-width: $xs-breakpoint) {
        width: 90%;
        margin-left: 5%;
      }
      @media (min-width: $sm-breakpoint) {
        width: 100%;
        margin-left: unset;
      }

      .ngx-file-drop__content {
        @media (min-width: $xs-breakpoint) {
          font-size: 10px;
          width: 100%;
        }
        @media (min-width: $sm-breakpoint) {
          font-size: unset;
          width: 100%;
        }
      }
    }

    display: flex;
    img {
      @media (min-width: $xs-breakpoint) {
        height: 100%;
      }
      @media (min-width: $sm-breakpoint) {
        height: 75mm;
      }
      width: 100%;
      background: url("assets/images/No-Image.png");
      background-repeat: round;
      background-size: auto;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.picture.many {
  padding: 5mm 5mm !important;
  display: inline-block !important;
}

.picture.many img {
  // width: 48% !important;
  padding: 0 1% !important;
}

.page-nr {
  text-align: center;
  height: 7px;
  font-size: 10px;
  position: relative;
  bottom: 0;
  display: block;
}

//-----------------------------------------------------------------------------

.element {
  display: block;
  transition: background 1s, filter 1s;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );

  .ck-button {
    pointer-events: none !important;
    color: transparent !important;
  }
  .ck-toolbar__separator {
    pointer-events: none !important;
    background: transparent !important;
  }
}

.element.action,
.element.dialog {
  font-family: graphikRegular !important;
  @media (min-width: $xs-breakpoint) {
    font-size: 0.5rem;
  }
  @media (min-width: $sm-breakpoint) {
    font-size: 15px;
  }
}

.element.scene-heading,
.element.character {
  font-family: robotoSlabRegular;
  @media (min-width: $xs-breakpoint) {
    font-size: 0.6rem;
  }
  @media (min-width: $sm-breakpoint) {
    font-size: 14px;
  }
}

.element.scene-heading {
  background-color: lightgray;
  padding: 0 1mm;
  .mat-input-element {
    text-transform: uppercase;

    @media (min-width: $xs-breakpoint) {
      font-size: 0.6rem;
    }
    @media (min-width: $sm-breakpoint) {
      font-size: 14px;
    }
  }
}

.element.scene-heading,
.element.action,
.element.character,
.element.dialog,
.element.comment {
  .mat-form-field {
    margin-bottom: -17px;
  }

  .mat-form-field-infix {
    border-top: 0;
  }
}

.element.action,
.element.dialog {
  .cdk-textarea-autosize {
    overflow: hidden;
  }
}

.element.action {
  display: inline-flex;
  @media (min-width: $xs-breakpoint) {
    padding: 2mm 7mm;
  }
  @media (min-width: $sm-breakpoint) {
    padding: 5mm 20mm;
  }
  width: 100%;

  text-area,
  //
  .display-text,
  .display-text p,
  //
  .mat-input-element {
    font-family: graphikRegular;
    @media (min-width: $xs-breakpoint) {
      font-size: 0.6rem;
    }
    @media (min-width: $sm-breakpoint) {
      font-size: 15px;
      line-height: 18px;
    }
  }

  .display-text,
  .display-text p {
    line-height: 22px !important;
  }

  .ck-toolbar {
    border: none;
    background: transparent;
  }

  .ck-content {
    border: none;
    border-bottom: none !important;
    background: transparent !important;
    font-family: graphikRegular;
    @media (min-width: $xs-breakpoint) {
      font-size: 0.6rem;
    }
    @media (min-width: $sm-breakpoint) {
      font-size: 15px;
    }

    p {
      font-family: graphikRegular;
      @media (min-width: $xs-breakpoint) {
        font-size: 0.6rem;
      }
      @media (min-width: $sm-breakpoint) {
        font-size: 15px;
      }
    }
  }

  .ck-content.ck-blurred {
    border-bottom: 2px solid #3f51b5;
  }

  .ck-content.ck-focused {
    border: none !important;
    border-bottom: 2px solid #3f51b5 !important;
    box-shadow: none !important;
  }

  // .ck-button {
  //     color: transparent;
  // }
}

.element.empty {
  height: 2px;
  background: rgba(0, 0, 0, 0.01);
}

.active {
  .ck-button {
    color: lightgray !important;
    pointer-events: none !important;
  }
  .ck-toolbar__separator {
    background: lightgray !important;
    pointer-events: none !important;
  }
}

.active.editing {
  .ck-button {
    color: #3f51b5 !important;
    pointer-events: all !important;
  }
  .ck-toolbar__separator {
    background: #3f51b5 !important;
    pointer-events: all !important;
  }
}

.element.comment {
  background: #dbf7db;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  .coment-dashes {
    color: #a3c5a3;
    position: absolute;
    @media (min-width: $xs-breakpoint) {
      font-size: 1.7rem;
    }
    @media (min-width: $sm-breakpoint) {
      font-size: 35px;
    }
  }

  textarea {
    padding: 0px;
    padding-left: 35px;
    font-family: monospace;
    font-weight: 100;
    overflow: hidden;
    vertical-align: middle;

    @media (min-width: $xs-breakpoint) {
      font-size: 0.7rem;
    }
    @media (min-width: $sm-breakpoint) {
      font-size: 15px;
    }
  }
}

/*
*/

.the-tool {
  .mat-form-field.mat-focused .mat-form-field-label {
    color: transparent;
  }

  .mat-form-field-appearance-legacy {
    .mat-form-field-label {
      color: transparent;
    }

    .mat-form-field-empty {
      color: rgba(0, 0, 0, 0.54);
    }

    .mat-form-field-underline {
      background-color: transparent;
    }
  }

  .input-empty.mat-form-field-appearance-legacy {
    .mat-form-field-underline {
      background-color: rgba(0, 0, 0, 0.42);
    }
  }
}

//

.back-to-top-button {
  position: absolute;
  bottom: 40px;
  right: 60px;
  z-index: 999999;
  display: block;

  //
  width: 64px;
  height: 64px;
  background: transparent;
  border-radius: 50%;

  button {
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 44px;

    fa-icon {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.active {
  .element.action,
  .element.character,
  .element.dialog {
    // background: -moz-linear-gradient(top, rgba(76,170,201,0) 0%, rgba(103,162,229,0.13) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(76, 170, 201, 0) 0%,
      rgba(103, 162, 229, 0.13) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(76, 170, 201, 0) 0%,
      rgba(103, 162, 229, 0.13) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004caac9', endColorstr='#2167a2e5',GradientType=0 );
  }

  .cursor {
    .carret {
      background: #3f51b5;
    }
  }
}

.active.editing {
  .element.action,
  .element.character,
  .element.dialog {
    background: initial;
    filter: none;
  }

  .cursor {
    .carret {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.cursor {
  height: 0px;

  .carret {
    transition: all 0.7s;
    height: 3px;
    background: transparent;
  }
}

.ck.ck-button:not(.ck-disabled):hover {
  background: lightgray !important;
}

.ck-toolbar {
  height: 20px !important;

  .ck-toolbar__items {
    height: 15px !important;
  }

  .ck-button {
    font-size: 10px !important;
    margin: 0 !important;
  }
}

.ck-content {
  padding: 0 !important;
  margin-top: -10px;
  min-height: 53px !important;
}

.rich-text-checkbox {
  display: inline;
  height: 0;
  position: relative;

  @media (min-width: $xs-breakpoint) {
    left: -10px;
    top: -13px;
  }
  @media (min-width: $sm-breakpoint) {
    left: 0;
    top: -20px;
  }

  .mat-checkbox {
    width: 0;
    display: flex;

    .mat-checkbox-inner-container {
      @media (min-width: $xs-breakpoint) {
        height: 10px;
        width: 10px;
        margin-right: 4px;
      }
      @media (min-width: $sm-breakpoint) {
        height: 16px;
        width: 16px;
        margin-right: 8px;
      }

      margin: auto;

      .mat-checkbox-frame {
        @media (min-width: $xs-breakpoint) {
          border-width: 1px;
        }
        @media (min-width: $sm-breakpoint) {
          border-width: 2px;
        }
      }
    }

    .mat-checkbox-label {
      @media (min-width: $xs-breakpoint) {
        font-size: 0.45rem;
      }
      @media (min-width: $sm-breakpoint) {
        font-size: 12px;
      }
      font-weight: 500;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      letter-spacing: 1px;
    }
  }
}

ckeditor {
  margin-top: -20px;
}

.mat-checkbox-checked .mat-checkbox-background {
  background-color: #3f51b5 !important;
}

a.red {
  color: red;
}

.cc-window {
  background-color: rgba(0, 0, 0, 0.3) !important;
  padding: 0 30px !important;

  .cc-btn {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: white !important;
  }
}

.copy-right {
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

.red {
  color: red;
}

.ngx-file-drop__drop-zone {
  height: 100% !important;
  color: $black !important;

  .ngx-file-drop__content {
    height: 100% !important;
    width: 130mm;
  }

  a {
    -webkit-appearance: initial;
    padding-left: 10px;
    color: $red !important;
  }
}

.bookmark {
  div {
    height: 0px;
    text-align: right;

    svg {
      @media (min-width: $xs-breakpoint) {
        width: 6px;
        height: 12px;
      }
      @media (min-width: $sm-breakpoint) {
        width: 0.75em;
        height: 16px;
      }

      color: #80808075;
      top: -23px;
      right: 5px;
      position: relative;
      cursor: pointer;

      &:hover {
        color: #808080;
      }
    }
  }
}

.page-map {
  z-index: 9;
  min-height: 300px;
  position: absolute;
  left: 250px;
  width: 0px;
  top: 200px;

  .map {
    width: 250px;
    min-height: 300px;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 5px 0;

    .map-title {
      text-align: center;
      font-weight: 500;
    }

    .map-el {
      display: inline-flex;
      padding: 0 5px;
      font-size: 13px;
      width: 100%;
      cursor: pointer;

      &.secondary {
        margin-left: 15%;
        border-left: 1px solid black;
        width: 85%;
        line-height: 25px;
      }

      &.comment {
        padding: 0;
        color: #a3c5a3;
        background: #dbf7db;
      }

      .el-icon {
        width: 25%;
        text-align: center;
      }

      .el-text {
        width: 75%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.width-teller {
  width: 100vw;
  height: 0px;
}

.new-story {
  background-color: #a52a2ac2 !important;
  color: white !important;

  svg {
    font-size: 20px;
    margin-left: 10px;
  }
}

.character-sheet-icon {
  height: 0;
  width: 0;
  display: inline-block;
  left: -30%;
  position: relative;
  color: $facebook-blue;
  > button {
    line-height: 0;
    font-size: 17px;
  }
}

.story-name {
  position: absolute;
  left: -15px;
  text-align: right;
  top: -15px;
  font-size: 12px;
  color: #dedede;
  font-family: cursive;
}

.tooltip-red {
  background: #b71c1c;
}

.ac-but {
  .svg-but {
    height: 55px;
    color: white;
    margin-bottom: -15px;
    font-size: 27px;
  }
}
