@import "../../theme/overrides/scss/_variables";

::ng-deep {
    .footer {
        h5 {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-size: 0.8em;
            font-weight: 500;
        }

        p {
            font-family: Roboto, "Helvetica Neue", sans-serif;
            font-size: 0.65em;
        }
    }
}

.footer {
    @media (min-width: $xs-breakpoint) {
        width: 100vw;
        height: 530px;
    }
    @media (min-width: $sm-breakpoint) {
        width: 100%;
        height: $footer-height;
    }

    color: $dark-grey;
    background-color: $dark-transparent;
    border-top: 1px solid rgba(223, 43, 43, 0.05);
    clear: both;
    display: block;

    padding: 10px 0;
    margin: 0;
    box-shadow: inset 0 3px 3px -1px rgba(152, 0, 47, 0.45);
    bottom: 0;
    z-index: 99999;

    a {
        color: $dark-grey;
    }
}

.footer-v-hr {
    border-right: 1px solid dimgrey;
}

.footer-link {
    line-height: 15px;

    a {
        font-size: 0.6em;
    }
}

.footer-social {
    display: inline-block;
    a {
        padding-left: 15px;
        height: 30px;
        svg {
            font-size: 30px;
        }
    }
}
