<div class="row no-gutters container m-auto page-min-width p-3">
    <div class="container-fluid pt-5 justify-content-center">
        <div class="col-12">
            <h3>
                Terms of Service
            </h3>
        </div>

        <div class="col-11 m-auto">
            <p>
                These gamescrypt.com Analytics Terms of Service (this "<b>Agreement</b>") are entered into by
                gamescrypt.com
                and the entity executing this Agreement ("<b>You</b>"). This Agreement governs Your use
                of this website (the "<b>Service</b>"). BY STAYING ON THIS WEBSITE, AND USING THE SERVICE, YOU
                ACKNOWLEDGE
                THAT YOU HAVE REVIEWED AND ACCEPT THIS AGREEMENT AND ARE AUTHORIZED TO ACT ON BEHALF OF, AND BIND TO
                THIS AGREEMENT. In consideration of the foregoing, the parties agree as specified below.

                We may amend this Agreement at any time by posting the amended terms on our Website. We may or may
                not post notices on the homepage of our Website when such changes occur.

                We refer to this Agreement, our Privacy Policy accessible below, and any other terms, rules, or
                guidelines on our Website collectively as our "Legal Terms." You explicitly and implicitly agree to
                be bound by our Legal Terms each time you access our Website. If you do not wish to be so bound,
                please do not use or access our Website.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                Limited License
            </h4>
        </div>

        <div class="col-10 m-auto">
            <p>
                gamescrypt.com grants you a non-exclusive, non-transferable, revocable license to access and use our
                Website in order for you to make stories, movie scripts and other media content through our
                Service, strictly in accordance with our Legal Terms.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                Copyrights and Trademarks
            </h4>
        </div>

        <div class="col-10 m-auto">
            <p>
                Unless otherwise stated, all materials including without limitation, logos, brand names, images,
                designs, photographs, video clips, written and other materials that appear as part of our Website
                are copyrights, trademarks, service marks, trade dress and/or other intellectual property whether
                registered or unregistered ("<b>Intellectual Property</b>") owned, controlled or licensed by
                gamescrypt.com.
            </p>
            <p>
                Our Website as a whole is protected by copyright and trade dress. Nothing on our Website should be
                construed as granting, by implication, estoppel or otherwise, any license or right to use any
                Intellectual Property displayed or used on our Website, <b>without the prior written permission of
                    the
                    Intellectual Property owner</b>. gamescrypt.com aggressively enforces its intellectual property
                rights to the fullest extent of the law.
            </p>
            <p>
                The names and logos of our Service, may not be used in any
                way, including in advertising or publicity pertaining to distribution of materials on our Website,
                without prior, written permission from gamescrypt.com. Fair use of gamescrypt.com’s Intellectual
                Property requires proper acknowledgment. Other product and company names mentioned in our Website
                may be the Intellectual Property of their respective owners.
            </p>
            <p>
                Our Website contains links to Websites owned or operated by parties other than gamescrypt.com. Such
                links
                are provided for your reference only. Our Service does not monitor or control outside Websites and
                is
                not responsible for their content. gamescrypt.com’s inclusion of links to an outside Website does
                not imply
                any endorsement of the material on our Website or, unless expressly disclosed otherwise, any
                sponsorship, affiliation or association with its owner, operator or sponsor, nor does
                gamescrypt.com’
                inclusion of the links imply that our Service is authorized to use any trade name, trademark, logo,
                legal or official seal, or copyrighted symbol that may be reflected in the linked Website.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                No Warranties; Exclusion of Liability; Indemnification
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                Our website is operated by gamescrypt.com on an "as is," "as available" basis, without representations
                or
                warranties of
                any kind. To the fullest extent permitted by law, gamescrypt.com specifically disclaims all warranties
                and
                conditions
                of any kind, including all implied warranties and conditions of merchantability, fitness for a
                particular
                purpose,
                title and noninfringement for our website and any contracts and services you purchase through it.
                gamescrypt.com
                shall not have any liability or responsibility for any errors or omissions in the content of our
                website,
                for
                contracts or
                services sold through our website, for your action or inaction in connection with our website or for any
                damage to
                your computer or data or any other damage you may incur in connection with our website.
            </p>
            <p>
                Your use of our
                website and
                any contracts or services are at your own risk. In no event shall either gamescrypt.com or their agents
                be
                liable for
                any direct, indirect, punitive, incidental, special or consequential damages arising out of or in any
                way
                connected
                with the use of our website, contracts and services purchased through our website, the delay or
                inability to
                use our
                website or otherwise arising in connection with our website, contracts or related services, whether
                based on
                contract, tort, strict liability or otherwise, even if advised of the possibility of any such damages.
                In no
                event
                shall gamescrypt.com liability for any damage claim exceed the amount paid by you to our Service for the
                transaction
                giving rise to such damage claim.
            </p>
            <p>
                Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so
                the
                above
                exclusion may not apply to you.
            </p>
            <p>
                Without limiting the foregoing, gamescrypt.com do not represent or warrant that the information on the
                webite
                is
                accurate, complete, reliable, useful, timely or current or that our website will operate without
                interruption or
                error.
            </p>
            <p>
                You agree that all times, you will look to attorneys from whom you purchase services for any claims of
                any
                nature,
                including loss, damage, or warranty. our Service and their respective affiliates make no representation
                or
                guarantees about any contracts and services offered through our website.
            </p>

        </div>

        <div class="col-11 m-auto">
            <h4>
                Content Disclaimer
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                Postings on our Website are made at such times as gamescrypt.com determines in its discretion. You
                should not
                assume that the information contained on our Website has been updated or otherwise contains current
                information. gamescrypt.com does not review past postings to determine whether they remain accurate
                and
                information contained in such postings may have been superseded.
            </p>
            <p>
                THE INFORMATION AND MATERIALS IN OUR
                WEBSITE ARE PROVIDED FOR YOUR REVIEW IN ACCORDANCE WITH THE NOTICES, TERMS AND CONDITIONS SET FORTH
                HEREIN. THESE MATERIALS ARE NOT GUARANTEED OR REPRESENTED TO BE COMPLETE, CORRECT OR UP TO DATE.
                THESE
                MATERIALS MAY BE CHANGED FROM TIME TO TIME WITHOUT NOTICE.
            </p>
        </div>


        <div class="col-11 m-auto">
            <h4>
                Indemnification
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                You agree to defend, indemnify and hold our Service harmless from and against any and all claims,
                damages,
                costs and expenses, including attorneys' fees, arising from or related to your use of our Website or
                any
                Contracts or Services you purchase through it.
            </p>
        </div>
    </div>
</div>