<div class="row no-gutters container m-auto page-min-width p-3">
    <div class="container-fluid pt-5 justify-content-center">
        <div class="col-12">
            <h3>
                Social Networking Services
            </h3>
        </div>

        <div class="col-11 m-auto">

            <p>
                You may register to join the Service by logging into your account with a
                third
                party social
                networking service CSNS") via our Service (e.g.. Facebook and maybe other third party services
                that let
                you sign in
                using your existing credentials with those services). If you choose to register via an SNS, or to
                later link
                your
                account with the Service to your account with an SNS. we will use the Personal Information you have
                provided
                to the SNS
                (such as your name, email address that you made publicly available via the
                SNS) to
                create your
                account.
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                What Data Does gamescrypt.com Collect'?
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                When You Create a gamescrypt.com Account If you want to access data collected by your Device from
                out Service App, you will also have the option to create your gamescrypt.com account using a
                credential
                like your Facebook account. If you choose to do so, we will ask permission to access basic
                information from that account, like your name, profile picture, You can stop sharing that
                information with us at any time by removing gamescrypt.com's access to that account by Facebook.
            </p>

            <p>
                If you connect to our Service through Facebook you may have the opportunity to connect to
                gamescrypt.com
                through Facebook's API when you register for our Service or after you have registered for our
                Service.
            </p>
            <p>
                If you connect to gamescrypt.com through Facebook, either when you register or after you have
                registered,
                we will collect, store, and use in accordance with this Privacy Policy the information you agreed
                that
                Facebook could provide to gamescrypt.com through its API.
            </p>
            <p>
                Your agreement (and our access to your information) takes place when you instruct, accept or allow
                Facebook to register you for a gamescrypt.com account or otherwise connect to our Service through
                Facebook.
                The information our Service may access, collect and store may include the following, among other
                information, as allowed by you, Facebook's API, and your Facebook privacy settings:
            </p>

            <ul>
                <li>
                    your name
                </li>
                <li>
                    your profile picture
                </li>
                <li>
                    your email address
                </li>
            </ul>
        </div>

        <div class="col-11 m-auto">
            <h4>
                Information from other sources
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                Facebook connect gamescrypt.com allows you to sign up and log in using your Facebook account. If you
                sign up using Facebook.
                Facebook will ask your permission to share certain information from your Facebook account with
                our Service.
            </p>
            <p>
                This includes your first name, last name, email address, a link to your Facebook profile, profile
                picture.
                <b>in order for us to save the content you make on our server as being yours.</b>
            </p>
            <p>
                This information is collected by Facebook and is provided to us under the terms of <a
                    href="https://www.facebook.com/policy.php">Facebook's privacy policy</a>.
                You can
                control the information that we receive from Facebook using the privacy settings in your Facebook
                account.
            </p>
            <p>
                If you do not wish to share your gamescrypt.com activity with your Facebook friends, you can control
                this
                from
                the
                Settings page on the Website - for more information, see the Choice and Control section below.
            </p>
            <p>
                If you signed up using Facebook by mistake you can email us at
                <!--    TODO - add email-->
                <a href="https://www.google.com">owner.gamescrypt@gmail.com.</a>
            </p>
        </div>

        <div class="col-11 m-auto">
            <h4>
                SNS Relationship
            </h4>
        </div>

        <div class="col-10 m-auto">

            <p>
                Note that the information we collect from and through an SNS may depend on the privacy
                settings you
                have set
                with the SNS and the permissions you grant to us in connection with linking your account with the
                Service to
                your
                account with an SNS. Other than what we may share with the SNS as described below, the Personal
                Information
                an SNS has
                about you is obtained by the SNS independent of our Service, and gamescrypt.com is not responsible
                for it.
            </p>
            <p>
                The gamescrypt.com Service also may permit additional interactions between it and a third party
                website.
                service, or
                other
                content provider, such as enabling you to like" or share content to a third party SNS. If you choose
                to
                like" or share
                content, or to otherwise share information from or via our Service with a third party site or
                service, that
                information
                may be publicly displayed, and the third party may have access to information about you and your use
                of our
                Service (and
                we may have access to information about you from that third party).
            </p>
            <p>
                These features may collect your
                IP
                address, which
                page you are visiting on our site, and may set a cookie to enable the feature to function properly.
                Your
                interactions
                with third parties through SNS or similar features are governed by the respective privacy policies
                of those
                third
                parties.
                You represent that you are entitled to use your SNS account for the purposes described herein
                without breach
                by you of
                any of the terms and conditions that govern the SNS, and without obligating gamescrypt.com to pay
                any fees
                or making
                gamescrypt.com
                subject to any usage limitations imposed by such SNS.
            </p>

        </div>

        <div class="col-11 m-auto">
            <p>
                You can disable the link between your gamescrypt.com
                account
                and your SNS
                account at any time though the "Settings" section of our Service. Please note that your relationship
                with
                any SNS is
                governed solely by your agreement(s) with such SNS.
                <b>If your SNS account terminates, then functions enabled through the
                    link between your gamescrypt.com account and your SNS account will terminate as well.</b>
            </p>
        </div>
    </div>
</div>