<div class="row no-gutters container m-auto page-min-width p-3">
    <div class="col-12 pt-5 justify-content-center">
        <div class="row">

            <div class="col-12 p-0">
                <h5>
                    FULL NAME
                </h5>
            </div>
            <div class="col-12 d-inline-flex p-0">
                <div class="col-7">
                    ...
                </div>
                <div class="col-5">
                    img
                </div>
            </div>

            <div class="col-12 p-0 mt-3">
                
                <mat-expansion-panel [expanded]="true" class="w-100">
                    <mat-expansion-panel-header class="pl-0">
                        <h4 class="pl-2">
                            Background
                        </h4>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>

                        <div class="col-12 d-inline-flex pl-0">
                            <div class="col-8">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 d-inline-flex">
                                            ...
                                        </div>
        
                                        <hr class="col-10 d-flex justify-content-center" />

                                        <div class="col-12 d-inline-flex">
                                            <div class="row w-100">
                                                <div class="col-12">
                                                    <h6>
                                                        Early Life
                                                    </h6>
                                                </div>
                                                <div class="col-12 d-inline-flex pl-5">
                                                    ...
                                                </div>
                                            </div>
                                        </div>

                                        <hr class="col-10 d-flex justify-content-center" />


                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
        
                            </div>
                        </div>
                    </ng-template>

                </mat-expansion-panel>

            </div>

            <div class="col-12 p-0 mt-3">
                
                <mat-expansion-panel [expanded]="true" class="w-100">
                    <mat-expansion-panel-header class="pl-0">
                        <h4 class="pl-2">
                            Wants
                        </h4>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>

                        <div class="col-12 d-inline-flex pl-0">
                            <div class="col-8">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 d-inline-flex">
                                            ...
                                        </div>
        
                                        <hr class="col-10 d-flex justify-content-center" />

                                        <div class="col-12 d-inline-flex">
                                            <div class="row w-100">
                                                <div class="col-12">
                                                    <h6>
                                                        Plan
                                                    </h6>
                                                </div>
                                                <div class="col-12 d-inline-flex pl-5">
                                                    ...
                                                </div>
                                            </div>
                                        </div>

                                        <hr class="col-10 d-flex justify-content-center" />


                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
        
                            </div>
                        </div>
                    </ng-template>

                </mat-expansion-panel>

            </div>

            <div class="col-12 d-flex justify-content-center">


            </div>

            <hr class="col-10 d-flex justify-content-center" style="margin-top: 5%;" />

            <div class="col-12 d-flex justify-content-center">

            </div>

        </div>
    </div>
</div>